body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.body-container {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  /*border: 1px solid #e5e5e5;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  position: relative;
  border: medium none;
  border-radius: 0 0 0 0;
  box-shadow: none;
}

.body-container p {
  margin-top: 10px;
}

.logo-login{
  margin: 50px 0 20px;
}

.login {
  background: url("../images/bg-login2.jpg") no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.form-signin h3.form-signin-heading {
  color: #16aeec;
  margin-bottom: 10px;
	font-size: 22px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signin {
	border: medium none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	padding: 19px 29px 60px;
	max-width: 300px;
}