/** reset styling **/
.firebugResetStyles {
	z-index: 2147483646 !important;
	top: 0 !important;
	left: 0 !important;
	display: block !important;
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
	outline: 0 !important;
	min-width: 0 !important;
	max-width: none !important;
	min-height: 0 !important;
	max-height: none !important;
	position: fixed !important;
	transform: rotate(0deg) !important;
	transform-origin: 50% 50% !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	background: transparent none !important;
	pointer-events: none !important;
	white-space: normal !important;
}

.firebugBlockBackgroundColor {
	background-color: transparent !important;
}

.firebugResetStyles:before, .firebugResetStyles:after {
	content: "" !important;
}
/**actual styling to be modified by firebug theme**/
.firebugCanvas {
	display: none !important;
}

*:focus {
    outline: 0 none !important;
	background-color: none !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBox {
	width: auto !important;
	position: static !important;
}

.firebugLayoutBoxOffset {
	opacity: 0.8 !important;
	position: fixed !important;
}

.firebugLayoutLine {
	opacity: 0.4 !important;
	background-color: #000000 !important;
}

.firebugLayoutLineLeft, .firebugLayoutLineRight {
	width: 1px !important;
	height: 100% !important;
}

.firebugLayoutLineTop, .firebugLayoutLineBottom {
	width: 100% !important;
	height: 1px !important;
}

.firebugLayoutLineTop {
	margin-top: -1px !important;
	border-top: 1px solid #999999 !important;
}

.firebugLayoutLineRight {
	border-right: 1px solid #999999 !important;
}

.firebugLayoutLineBottom {
	border-bottom: 1px solid #999999 !important;
}

.firebugLayoutLineLeft {
	margin-left: -1px !important;
	border-left: 1px solid #999999 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBoxParent {
	border-top: 0 none !important;
	border-right: 1px dashed #E00 !important;
	border-bottom: 1px dashed #E00 !important;
	border-left: 0 none !important;
	position: fixed !important;
	width: auto !important;
}

.firebugRuler{
	position: absolute !important;
}

.firebugRulerH {
	top: -15px !important;
	left: 0 !important;
	width: 100% !important;
	height: 14px !important;
	background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5'%FC6%5DS%95pV%95%01%81%FF'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x !important;
	border-top: 1px solid #BBBBBB !important;
	border-right: 1px dashed #BBBBBB !important;
	border-bottom: 1px solid #000000 !important;
}

.firebugRulerV {
	top: 0 !important;
	left: -15px !important;
	width: 14px !important;
	height: 100% !important;
	background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y !important;
	border-left: 1px solid #BBBBBB !important;
	border-right: 1px solid #000000 !important;
	border-bottom: 1px dashed #BBBBBB !important;
}

.overflowRulerX > .firebugRulerV {
	left: 0 !important;
}

.overflowRulerY > .firebugRulerH {
	top: 0 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.fbProxyElement {
	position: fixed !important;
	pointer-events: auto !important;
}


.capitalize {
	text-transform: Capitalize;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	background: url("../images/bg-main1.png") repeat-x 0 -32px !important;
	background-color: #ffffff;
	min-width: 800px;
}

a {
	color: #0080FF;
}

h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
	font-weight: lighter;
}

a:hover,
a:focus {
	color: #0371de;
	text-decoration: none;
}

::selection{background:#d75959;color:#fff; text-shadow: none;}
::-moz-selection{background:#d75959;color:#fff; text-shadow: none;}

.navbar-inverse .navbar-inner {
	background-color: #155bab;
	background-image: linear-gradient(to bottom, #014178, #024A88);
	filter: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #fff;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #013058;
}

.alert {
	border-radius: 0px;
  text-shadow: none;
}

.btn {
  background-color: transparent;
	background-image: none;
	border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  padding: 6px 18px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
	font-weight: normal;
}
.btn:hover,
.btn:focus {
  color: #000;
  text-decoration: none;
  background-position: 0 0;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  background-color: transparent;
	border: 1px solid #bcbcbc;
	transition: none 0s ease 0s;
}

input.btn {
	line-height: 12px;
	padding-bottom: 8px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: #16aeec;
	background-image: none;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #14a6e2;
  color: #FFFFFF;
	border-color: #666;
}

.btn-large {
	font-size: 17.5px;
	padding: 11px 19px;
}

.btn-small {
    font-size: 12px;
		padding: 2px 10px;
		font-weight: normal;

}

.btn-not, .btn-not:hover {
	background-color: transparent;
	color: #0371de;
	font-weight: normal;
	padding: 6px 10px 6px 8px;
}

.btn-not.active,
.btn-not:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.well-blue .btn {
	border: 1px solid #265b84;
	color: #265b84;
	text-shadow: inherit;
}

.well-blue .btn.btn-small {
	padding-bottom: 4px;
}

.btn-print {
	border: 1px solid #8eaa39;
	background: url("../images/icn-print.png") no-repeat #A1C042 scroll 18px center !important;
	width: auto;
	padding-left: 42px;
	color: #fff;
}

.btn-print:hover, .btn-print:focus, .btn-print:active, .btn-print.active, .btn-print.disabled, .btn-print[disabled] {
	border-color: #79922f;
	background-color: #94b13c;
	color: #fff;
}

input.btn-print {
		height: auto;
		width: 104px;
}

input.btn-print.btn-print-small {
		width: auto;
}

.well .btn-print {
	border: none;
}

.btn-group > .btn:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.btn.disabled, .btn[disabled] {
    opacity: 0.2;
}

/*selectpicker */

.btn-print-drop, .btn-print-drop:hover, .btn-print-drop:focus {
	background: #A1C042 !important;
	border: 1px solid #8eaa39;
	width: 180px;
	color: #fff;
	border-radius: 2px 0 0 2px !important;
	margin-right: -4px;
}

.btn-print-drop > .caret {
    border-top: 4px solid #FFFFFF;
    position: absolute;
    right: 18px;
}

.dropdown-menu.selectpicker {
	padding: 10px 0;
}

.selectpicker i, .popover-title {
	display: none;
}

.selectpicker > li > a {
    cursor: pointer;
}

.select-all-header {
	margin-bottom: 20px;
}

.select-all-header label {
	text-transform: none;
}

.form-horizontal .controls {
	margin-left: 170px;
}

.form-horizontal .form-actions {
    padding-left: 170px;
}

.productContainer-table {
    width: 91%;
    overflow: auto;
}

/*Navbar 2 */

.dropdown .dropdown-menu .nav-header {
    color: #A1C042;
    font-weight: normal;
    padding-left: 14px;
}

.navbar-inverse .navbar-inner.navbar-inner2 {
	background-color: #f1f1f1;
	background-image: none;
	border: none;
	box-shadow: none;
}

.navbar-inner.navbar-inner2 .nav > li > a {
	text-shadow: none;
}

.navbar-inner.navbar-inner2 .nav > li > a:hover {
	color: #000;
}

.navbar-inner.navbar-inner2 .nav .active > a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #16aeec;
}

.nav > li > a {
    display: inherit;
}

/*Headers */

.navbar .nav {
	margin-top: 10px;
}

.navbar-brand {
	margin-top: 10px;
}

.page-header2 {
    border-bottom: none;
    margin: 20px 0 30px;
    padding-bottom: 0;
}

.page-header2 h1{
	color: #a1c042;
}

.nav .nav2 {
	text-transform: uppercase;
}

.icon-english, .icon-bahasa {
  height: 16px;
  width: 24px;
  padding-right: 4px;
}

.icon-english {
  background: url("../images/flag-eng.png") no-repeat 0 0 !important;
}

.icon-bahasa {
  background: url("../images/flag-id.png") no-repeat 0 0 !important;
}

.dropdown.language li a:hover {
  background: none;
  color: #0371de;
}

#notifications.dropdown-menu > li > a {
    padding-bottom: 10px;
		margin-bottom: 0px;
}

#notifications.dropdown-menu > li > a dl {
		margin-bottom: 0px;
}

.dropdown-menu > li > a {
    padding: 3px 14px;
}

#roleLabel {
	text-transform: uppercase;
}

.navbar .nav > .link-icon.active > a, .navbar .nav > .link-icon.active > a:hover, .navbar .nav > .link-icon.active > a:focus {
    box-shadow: none;
}

/*Forms */

input, button, select, textarea {
    font-family: 'Lato', sans-serif;
}

label, input, button, select, textarea {
	font-size: 12px;
}

legend {
  color: #16aeec;
	border-color: #16aeec;
}

label {
  	text-transform: uppercase;
	color: #666;
	cursor: text;

}

.required {
	color: #FF0000;
	font-size: 16px;
	font-weight: lighter;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0px;
	background-color: #EEEEEE;
	border: 1px solid #ddd;
	/*border: none;*/

}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	/*border: none;*/
	box-shadow: none;
	background-color: #eee;
  border: 1px solid #ddd;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background: #f9f9f9;
    border-color: #f1f1f1;
    cursor: not-allowed;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	background-color: #f2f2f2;
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

td select,
td textarea,
td input[type="text"],
td input[type="password"],
td input[type="datetime"],
td input[type="datetime-local"],
td input[type="date"],
td input[type="month"],
td input[type="time"],
td input[type="week"],
td input[type="number"],
td input[type="email"],
td input[type="url"],
td input[type="search"],
td input[type="tel"],
td input[type="color"],
td .uneditable-input {
	margin-bottom: 0px;
}

.help-block {
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 2px !important;
}

.form-actions {
    border-top: none;
}

.form-horizontal .control-label {
    margin-right: 10px;
}

.form-cta {
    border-color: #666;
    border-top: 1px solid;
    clear: both;
    margin: 10px 0 0;
    padding-top: 20px;
    text-align: center;
}

.well .form-cta {
	border-color: #fff;
}

/*Modals */

.modal {
	border-radius: 0px;
}

.modal-backdrop {
    background-color: #999999;
}


/*Tables */

.dataTables_wrapper > div:nth-child(3) {
	clear:both;
	overflow-x: scroll !important;
}

.dataTables_paginate, .dataTables_length {
	margin-top: 10px;
	line-height: 22px;
}

.dataTables_info {
	clear: both;
}

.dataTables_empty {
	height: 160px;
	background: #f1f1f1 !important;
	color: #666 !important;
	border: medium none !important;
	text-align: center !important;
	font-size: 18px;
}

.sorting {
	cursor: pointer;
}

.sorting:hover, .sorting_desc:hover, .sorting_asc:hover {
	color: #005aa8;
}

.table {
	background-color: #FFFFFF;
	border: medium none;
	border-spacing: 0;
	margin: 10px 0 15px;
	text-align: left;
}	/*from .tablesorter-blue */

.table th {
    background-color: #16AEEC !important;
    font-weight: lighter;
		text-transform: uppercase;
		padding: 10px 20px;
		color: #fff;
		font-size: 11px;
}

.sorting_asc, .sorting_desc {
    background-position: 10px 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
}

.sorting_desc {
	background-image: url("../images/icn-down-white.png");
}

.sorting_asc {
	background-image: url("../images/icn-up-white.png");
}

.table thead th {
    vertical-align: top;
	background-color: #F6F6F6;
}

.table tbody tr.odd td:first-child {
    /*background-color: #24A0D3;
    color: #FFFFFF;*/
}

.table tbody tr.odd td:first-child a, .table tbody tr.even td:first-child a {
    color: #fff !important;
}

.table tbody tr.odd td {
    /*background-color: #DFE1E3;*/
	border-bottom: 1px solid #CCCCCC;
}
.table tbody td, .table tfoot th, .table tfoot td {
    padding: 4px 20px;
}
.table td {
    background-color: #FFFFFF;
    color: #3D3D3D;
    padding: 4px;
    vertical-align: middle;
}
.table th, .table td {
    border: medium none;
}

.table tbody tr.even td:first-child {
    /*background-color: #2EA8D9;
    color: #FFFFFF;*/
}
.table tbody tr td:last-child {
	border-left: 1px solid #ccc;
	/*padding-top: 10px; removed to adjust row height and v-align cta */
	min-width: 144px;
}
.table tbody tr.even td {
    /*background-color: #E8E8E8;*/
	border-bottom: 1px solid #CCCCCC;
}

.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 0px;
    border-style: solid solid solid none;
    border-width: 1px 0;
}

.table-striped tbody > tr > td, .table-striped tbody > tr > th,
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: transparent;
}

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
    border-radius: 0px;
}

.tablesorter-blue tfoot .tablesorter-headerAsc, .tablesorter-blue tfoot .tablesorter-headerDesc{
	background-color: #fff;
}

/* hovered row colors
 you'll need to add additional lines for
 rows with more than 2 child rows
 */
.table tbody > tr:hover > td,
.table tbody > tr:hover + tr.tablesorter-childRow > td,
.table tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.table tbody > tr.even:hover > td,
.table tbody > tr.even:hover + tr.tablesorter-childRow > td,
.table tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #ffffd6;
	color: #000;
}
.table tbody > tr.odd:hover > td,
.table tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.table tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #ffffd6;
}
.table tbody > tr:hover > td a,
.table tbody > tr:hover + tr.tablesorter-childRow > td a,
.table tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td a{
	color: #005aa8;
}

/*.table tbody > tr.odd:hover > td:first-child,
.table tbody > tr.even:hover > td:first-child {
	background-color: #197195;
}*/

.dataTable .sorting_asc, .dataTable .sorting_desc {
	background-color: #1197cd !important;
}


/* TODO */

.table-compressed th {
  background: none repeat scroll 0 0 #16AEEC !important;
  font-weight: normal !important;
  text-transform: uppercase !important;
}
.table-compressed th, .table-compressed td {
    padding: 4px !important;
}
.table-compressed {
    margin: 0px !important;
}



/*Login */

.form-signin p {
	margin-top: 10px;
}

h3.form-signin-heading  {
	color: #16aeec;
}

.well {
	background-color: #F1F1F1;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 20px !important;
	min-height: 20px;
	padding: 20px;
	color: #999;
	width: auto;
}

.well:hover {
	background-color: #f6f6f6;
	color: #8c8b8b;
}

.well textarea, .well input[type="text"], .well input[type="password"], .well input[type="datetime"], .well input[type="datetime-local"], .well input[type="date"], .well input[type="month"], .well input[type="time"], .well input[type="week"], .well input[type="number"], .well input[type="email"], .well input[type="url"], .well input[type="search"], .well input[type="tel"], .well input[type="color"], .well .uneditable-input, .well select {
  	background: #fff;
		border: 1px solid #E8E8E8;
}

.well .checkbox, .well label .label-single {
	color: #999999;
}

.label-single {
  text-align: right;
  width: 100px;
}

.well .span9 {
	margin-left: 0;
}

.well legend {
	color: #ccc;
}

#fieldsform .well {
	color: #3D3D3D;
	margin-top: 20px;
	padding: 20px;
}

.well-blue, .well-blue:hover {
    background: none repeat scroll 0 0 #b9e7fa;
		color: #265b84;
}

.well-blue a {
    color: #266899;
}

.well-blue a:hover {
    color: #002e5c;
}

.well-blue label {
    color: #265b84;
}

.well-blue hr {
    border-color: #91c9e0;
}

/*Main Menu Collapse */

.content_menu ul li.dropdown .dropdown-menu {
		padding-right: 10px;
}

.dropdown-submenu > .dropdown-menu {
		margin-left: 9px;
}

.content_menu ul li.dropdown .dropdown-menu {
		min-width: 210px;
}

.content_menu ul li.dropdown:nth-child(6) .dropdown-menu, .content_menu ul li.dropdown:nth-child(7) .dropdown-menu {
    left: auto;
    right: 0;
		padding-right: 10px;
		min-width: 210px;
}

.content_menu ul li.dropdown:nth-child(6) .dropdown-menu .dropdown-submenu, .content_menu ul li.dropdown:nth-child(7) .dropdown-menu .dropdown-submenu {
		float: none;
}

.content_menu ul li.dropdown:nth-child(6) .dropdown-submenu, .content_menu ul li.dropdown:nth-child(7) .dropdown-submenu {
    left: auto;
    right: 0;
		display: inline;
}

.content_menu ul li.dropdown:nth-child(6) .dropdown-submenu ul.dropdown-menu, .content_menu ul li.dropdown:nth-child(7) .dropdown-submenu ul.dropdown-menu {
		margin-top: -21px;
}

.dropdown-menu .divider {
    margin: 9px -10px 9px 0;
}

#notificationCountBadge.badge {
	position: absolute;
	cursor: pointer;
}

#notificationCountBadge.badge-important {
	    background-color: #EE032B;
	    border-radius: 2px;
	    color: #FFFFFF;
	    font-size: 10px;
	    min-width: 14px;
	    padding: 2px;
	    text-align: center;
			cursor: pointer;
}

#notificationCountBadge.badge:empty {
    visibility: hidden;
}

.navbar .nav > li > a {
    padding-bottom: 0;
}

[class^="icon-menu-"], [class*="icon-menu-"] {
	background-repeat: no-repeat;
	height: 12px;
	width: 4px;
	display: block;
	margin-bottom: 5px;
	text-indent: -20000px;
}

.icon-menu-notifications {
	background: url("../images/icons-menu.png") no-repeat scroll 1px 0px !important;
	height: 20px;
	margin-top: 3px;
}

.icon-menu-home {
	background: url("../images/icons-menu.png") no-repeat scroll -35px 0px !important;
	margin-left: 20px;
	height: 20px;
	margin-top: 3px;
}

.icon-menu-settings {
	background: url("../images/icons-menu.png") no-repeat scroll -71px 0px !important;
	margin-left: 20px;
	height: 20px;
	margin-top: 3px;
}

.content_menu ul.nav li.dropdown a {
    margin-bottom: 0px;
		border: none;
}

.content_menu ul.nav li.dropdown {
    /*margin-right: 7px;*/
		margin-right: 8px;
}
.content_menu ul.nav li.dropdown:nth-of-type(2), .content_menu ul.nav li.dropdown:nth-of-type(3), .content_menu ul.nav li.dropdown:nth-of-type(5) {
    margin-right: 7px; /*this addresses the wierd uneven padding*/
}

.dropdown-menu {
    min-width: 100%;
		padding: 8px 0px 0 0;
		margin: -4px 0 0;
		border-radius: 2px;
}

#nav-menu .dropdown-menu > li:last-child > a {
    padding-bottom: 20px;
}

.dropdown-submenu:hover > a:after {
		border-left-color: #ccc;
}

.bootstrap-timepicker-widget.dropdown-menu {
		min-width: 0%;
}

.dropdown-submenu.pull-left .dropdown-menu {
		right: -2px !important;
}

.datepicker.dropdown-menu, .dropdown-submenu > .dropdown-menu {
		border-radius: 2px !important;
}

.content_menu {
    padding: 0 10px 10px 0;
		margin-top: 5px;

}

.navbar-inner {
    background-color: none;
    background-image: none;
    background-repeat: repeat-x;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    min-height: 60px; /*92 */
}

.btn-main-menu {
    margin-top: 10px;
}

.main-menu-dropdown > div {
	float: left;
	margin: 0 10px 5px 0;
}

.btn-main-menu, .btn-main-menu.menu2 {
		background-color: #16aeec;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    height: 70px;
    line-height: 14px;
    padding: 14px 60px 0 10px;
    text-align: left;
    text-transform: uppercase;
    width: 81px !important;
}

.active .btn-main-menu, .active .btn-main-menu.menu2 {
	background: #eb434a;
}

.form-search .input-append .btn {
	border: 1px solid ;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#addBtn {
	margin-bottom: 3px;
}

.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  background-color: #dc3e44;
  border: none;
}

.btn-main-menu.menu2 {
	background-color: #fd6566;
	padding: 5px 0 0 10px;
	height: 84px;
	width: 180px;
	text-align: left !important;
	text-transform: none;
}

.btn-main-menu.menu2 p {
	text-align: start !important;
}

.btn.btn-main-menu:hover,
.btn.btn-main-menu:focus {
	background-color: #14a6e2;
	color: #fff;
}

.btn.btn-main-menu.menu2:hover,
.btn.btn-main-menu.menu2:focus {
	background-color: #fb4a4b;
}

.menu3dmega.skin-black a:hover{
	color:#fff;
}

.menu3dmega.skin-black .dropdown-menu {
	border: none;
	background: none;
	background-color: #000;
}

.menu3dmega .content {
	padding: 0 0 0px 10px;
}

.menu3dmega li .dropdown-menu {
	box-shadow: none;
}

.menu3dmega .full-width .dropdown-menu {
	width: 101%;
}

.menu3dmega.skin-black {
	background-color: #21262c;
	border-color: #000000 #000000 -moz-use-text-color;
	border-left: 1px solid #000000;
	border-style: solid solid none;
	border-width: 1px 1px medium;
}

.menu3dmega > ul > li > a, .menu3dmega > ul > li > span {
	color: #999 !important;
	font-weight: normal;
}

.menu3dmega.skin-black > ul > li {
	border: none
}

.menu3dmega.skin-black > ul > li.last {
	border: none;
}

.menu3dmega {
	box-shadow: none;
}

.navbar {
	min-height: 40px;
}

.menu3dmega > ul > li {
	line-height: 20px;
}

#menuMega .container {
	margin: 0 auto;
}

[class^="icn-"], [class*=" icn-"] {
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	display: block;
	margin-bottom: 0px
}

.icn-administrator {
	background-image: url("../images/menu/icn-admin.png");
}

.icn-cs {
	background-image: url("../images/menu/icn-cs.png");
}

.icn-hr {
	background-image: url("../images/menu/icn-hr.png");
}

.icn-marketing {
	background-image: url("../images/menu/icn-marketing.png");
}

.icn-merchant {
	background-image: url("../images/menu/icn-merchant.png");
}

.icn-store {
	background-image: url("../images/menu/icn-store.png");
}

.icn-reports {
	background-image: url("../images/menu/icn-reports.png");
}

.icn-gift {
	background-image: url("../images/menu/icn-gift.png");
}

.icn-loyalty {
	background-image: url("../images/menu/icn-loyalty.png");
}

#nav-menu [class^="icn-"], #nav-menu [class*=" icn-"] {
    margin-bottom: 10px;
}

/*Custom Responsive */

@media (max-width: 1200px) {
	.btn-main-menu, .btn-main-menu.menu2 {
	    background-color: #16AEEC;
	    color: #FFFFFF;
	    font-size: 10px;
	    font-weight: normal;
	    height: 70px;
	    line-height: 14px;
	    padding: 14px 10px 0 10px;
	    text-align: left;
	    text-transform: uppercase;
	    width: 82px !important;
	}
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	    width: 95%;
	}
	[class^="icn-"], [class*=" icn-"] {
	    margin-bottom: 0px;
	}
	#nav-menu [class^="icn-"], #nav-menu [class*=" icn-"] {
	    margin-bottom: 10px;
	}
	select {
	    width: 150px;
	}
	input, textarea, .uneditable-input {
	    width: 136px;
	}
	#content_target .control-group-02 {
	    width: 195px !important;
	}
	.row-fluid {
	    margin-bottom: 10px;
	}
	form#marketingChannelSearchForm {
	    margin: 0px;
	}
	#content_target .control-group-02 {
		margin-left: 0px;
	}
	#content_target .control-group-02 {
	  margin: 0 20px 20px 0 !important;
	}
	#block_promotionDuration {
		margin-left: 0px !important;
	}
	.label-1 {
	    width: 100px;
			font-size: 14px;
	}
}

@media (max-width: 1020px) {
	#reservegc #addRowButton {
		float: right;
	}
}

.menu3dmega .dropdown-menu.minor-menu > ul > li > a {
	padding: 3px 20px 0 5px;
	color: #999999;
	font-size: 14px;
}

.main-role {
	text-transform: uppercase;
}

.container-btn {
	text-align: center !important;
}

.language-menu {
	border-right: 1px solid #000000;
}

/*Action Icons */

.table tbody > tr:hover > td .icn-delete,
.table tbody > tr:hover + tr.tablesorter-childRow > td .icn-delete,
.table tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td .icn-delete {
	background: url("../images/icons-actions-default-inverse-2.png") no-repeat scroll #fd6566 -382px 4px !important;
	opacity: 1;
}

.table tbody > tr:hover > td .icn-cancel,
.table tbody > tr:hover + tr.tablesorter-childRow > td .icn-cancel,
.table tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td .icn-cancel,
.icn-cancel {
	background-color: #fd6566 !important;
	opacity: 1;
}

.icn-delete, .icn-delete:hover, .icn-delete:focus, input.icn-delete, input.icn-delete:hover, input.icn-delete:focus,
.icn-edit, .icn-edit:hover, .icn-edit:focus, input.icn-edit, input.icn-edit:hover, input.icn-edit:focus,
.icn-cancel, .icn-cancel:hover, .icn-cancel:focus, input.icn-cancel, input.icn-cancel:hover, input.icn-cancel:focus,
.icn-view, .icn-view:hover, .icn-view:focus, input.icn-view, input.icn-view:hover, input.icn-view:focus,
.icn-pin, .icn-pin:hover, .icn-pin:focus,
.icn-card, .icn-card:hover, .icn-card:focus,
.icn-supplement, .icn-supplement:hover, .icn-supplement:focus,
.icn-print, .icn-print:hover, .icn-print:focus, input.icn-print, input.icn-print:hover, input.icn-print:focus,
.icn-recieve, .icn-recieve:hover, .icn-recieve:focus, input.icn-recieve, input.icn-recieve:hover, input.icn-recieve:focus,
.icn-allocate, .icn-allocate:hover, .icn-allocate:focus, input.icn-allocate, input.icn-allocate:hover, input.icn-allocate:focus,
.icn-approve, .icn-approve:hover, .icn-approve:focus, input.icn-approve, input.icn-approve:hover, input.icn-approve:focus,
.icn-transfer, .icn-transfer:hover, .icn-transfer:focus, input.icn-transfer, input.icn-transfer:focus,
.icn-sync, .icn-sync:hover, .icn-sync:focus, input.icn-sync, input.icn-sync:focus{
    background: url("../images/icons-actions-default-inverse-2.png") #16AEEC no-repeat scroll;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: 29px;
    margin-right: 4px;
    opacity: 0.3;
    padding: 0;
    text-decoration: none;
    text-indent: -20000px;
    width: 32px;
		border: medium none;
}

.table tbody > tr.odd:hover > td .tiptip,
.table tbody > tr.odd:hover + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr.even:hover > td .tiptip,
.table tbody > tr.even:hover + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr:hover > td .tiptip,
.table tbody > tr:hover + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td .tiptip {
	opacity: 1;

}





.icn-delete, .icn-delete:hover, .icn-delete:focus, input.icn-delete, input.icn-delete:hover, input.icn-delete:focus {
	background-position: -382px center;
}

.icn-edit, .icn-edit:hover, .icn-edit:focus, .icn-cancel, .icn-cancel:hover, .icn-cancel:focus {
	background-position: 7px center;
	border: medium none;
}

.icn-view, .icn-view:hover, .icn-view:focus, input.icn-view, input.icn-view:hover, input.icn-view:focus {
	background-position: -349px center;
}

.icn-pin, .icn-pin:hover, .icn-pin:focus {
	background-position: -56px center;
}

.icn-card, .icn-card:hover, .icn-card:focus {
	background-position: -118px center;
}

.icn-supplement, .icn-supplement:hover, .icn-supplement:focus {
	background-position: -161px center;
}

.icn-print, .icn-print:hover, .icn-print:focus, input.icn-print, input.icn-print:hover, input.icn-print:focus {
	background-position: -221px center;
}

.icn-recieve, .icn-recieve:hover, .icn-recieve:focus, input.icn-recieve, input.icn-recieve:hover, input.icn-recieve:focus {
	background-position: -192px center;
}

.icn-allocate, .icn-allocate:hover, .icn-allocate:focus, input.icn-allocate, input.icn-allocate:hover, input.icn-allocate:focus {
	background-position: -284px center;
}

.icn-approve, .icn-approve:hover, .icn-approve:focus, input.icn-approve, input.icn-approve:hover, input.icn-approve:focus {
	background-position: -252px center;
	background-color: #b4d54e !important;
}

.icn-transfer, .icn-transfer:hover, .icn-transfer:focus, input.icn-transfer, input.icn-transfer:hover, input.icn-transfer:focus {
	background-position: -314px center;
}

.icn-sync, .icn-sync:hover, .icn-sync:focus, input.icn-sync, input.icn-sync:hover, input.icn-sync:focus {
	background-position: -442px center;
}

/*Login Page */
.body-container {
    padding: 20px 30px 60px !important;
	margin: 0 auto 10px !important;
}

#footer {
    color: #CCCCCC !important;
}

.login .btn {
	height: 50px;
	font-size: 20px;
	border-radius: 2px;
}

table {
	clear: both;
}

/* Helpers */
.ml5 {margin-left: 5px}
.ml0 {margin-left: 0px}
.ml10 {margin-left: 10px !important}
.ml-nega10 {margin-left: -10px}
.mb0 {margin-bottom: 0px !important}
.mb10 {margin-bottom: 10px}
.mb20 {margin-bottom: 20px !important;}
.mt0 {margin-top: 0px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.pb20 {padding-bottom: 20px}
.case-lower {text-transform: lowercase !important;}
.case-cap {text-transform: capitalize !important;}
.line-no-top{border-top: none;}
.top-zero {margin-top: 0; padding-top: 0}
.left-zero {margin-left: 0; padding-left: 0}
.fs1 {font-size: 12px !important}
.pl0 {padding-left: 0 !important}
.pr0 {padding-right: 0 !important}

/* Data Table Horizontal Scroll */
.dataTables_scroll {
  	clear: both;
  	overflow: auto;
  	position: relative;
  	width: 100%;
	margin-bottom: 10px;
}
.dataTables_scrollHead {
  	border: 0 none;
   	clear: left;
  	overflow: hidden;
  	position: relative;
}
.dataTables_scrollBody {
  	/*
  	  Commented due to Bug #88451
  	  overflow: visible !important;
  	*/
	background: none repeat scroll 0 0 #F1F1F1;
}
.dataTables_scrollHead table, .dataTables_scrollBody table {
  	margin: 0;
}

.accordion-group {
    border: 1px solid #E5E5E5;
    border-radius: 0px;
    margin-bottom: 0px;
		border-right: none;
		border-left: none;
		border-bottom: none;
}

.accordion-group:last-child {
    border-bottom: 1px solid #E5E5E5;
}


/* Tabs */
.nav-tabs > li > a {
    border-radius: 2px 2px 0 0;
		color: #999;
}

.nav-tabs > li > a:hover {
		color: #16AEEC;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #EB434A;
    color: #FFFFFF;
}

.nav-pills > li > a {
    border-radius: 0px;
}

/* Forms */
.label, .badge {
    background-color: transparent;
    color: #999;
    display: inline-block  !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 8px 0 0 4px;
    text-shadow: none
}

.form-search .input-append .search-query {
    border-radius: 0px;
		background-color: #EEEEEE;
		border: 1px solid #DDDDDD;
		box-shadow: none;
		padding: 4px 10px;
}

.form-search .input-append .btn {
    border-radius: 0 2px 2px 0;
		height: 30px;
		line-height: 20px;
}

input[type="file"] {
	height: 32px;
}

/* Separator */
.cont-02 {
	width: 74px;
	text-align: center;
	float: left;
}

.cont-02 input.btn {
	margin-bottom: 4px;
}

/*Chrome specific */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#notifications.dropdown-menu > li > a:first-child {
		margin-top:-10px;
	}

	#notifications.dropdown-menu > li#noNotifications > a:first-child {
		margin-top:0px;
	}

	.form-horizontal .control-group {
	  margin-bottom: 20px;
		margin-top: 0px;
	}

	input.btn {
		line-height: 13px;
		padding-bottom: 7px;
		margin-top: 1px;

	}

	.form-search .input-append .btn {
	    margin-top: 0px;
	}

	input[type="file"] {
		line-height: 0px;
		margin-bottom: -10px;
	}

	.content_menu ul li.dropdown:last-child .dropdown-submenu ul.dropdown-menu {
	    margin-top: -35px;
	}

}

.nav-tabs > li > a {
    font-size: 12px;
}

.text-uppercase {
	text-transform: uppercase;
}