/* main elements */

body, div, td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}

body {
  background-color: #fff;
  text-align: center;
}

#header {
  margin-bottom: 1em;
}

#wrapper {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;

  /* fix max-width incompatibility in IE6 */
  width: expression(document.body.clientWidth > 800? "800px": "auto" );

  overflow: hidden;
  display: block;
}

/* header and footer elements */

#main {
  overflow: hidden;
  display: box;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  padding: 0px;
}

#menu a, #menu h2 {
  display: block;
  margin: 0;
  padding: 2px 6px;
  color: #FFFFFF;
}

/* #menu {
  background: #eee;
  position: relative;
  float: left;
  left: 0px;
  width: 220px;
  margin-right: 15px;
}

#menu a, #menu h2 {
  display: block;
  margin: 0;
  padding: 2px 6px;
  color: #FFFFFF;
}

#menu h2 {
  color: #fff;
  background: #648C1D;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

#menu a {
  color: #666666;
  background: #efefef;
  text-decoration: none;
  padding: 2px 12px;
}

#menu a:hover {
  color: #648C1D;
  background: #fff;
} */

#footer {
  background: #fff;
  border: none;
  margin-top: 15px;
  border-top: 1px solid #999999;
}

#footer .new {
  float: left;
}

#footer a:link {
  color: /* #7db223 */#005AAB;
}

.quicklinks {
  clear: both;
  padding-bottom: 15px
}

.quicklinks span {
  float: right;
}

table.navigation {
  border: 0px;
}

label {
  width: 100px;
  float: left;
  margin-left: 5px;
  margin-top: 0px;
}

input {
  height: 20px;
}

input, textarea, select {
  /*border: 1px solid #B3B3B3;*/
}

input.image {
  border: none;
  height: auto;
  vertical-align: middle;
}

submit {
  height: 25px;
}

div {
  text-align: left;
}

div .box {
  display: block;
  margin-left: 105px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {
  display: block;
  width: 150px;
  height: 25px;
}

/* text styles */

h1, h2, h3 {
  font-family: Helvetica, sans-serif;
  color: /* #7db223 */#005AAB;
}

h1 {
  font-size: 20px;
  line-height: 26px;
}

h2 {
  font-size: 18px;
  line-height: 20px;
}

h3 {
  font-size: 15px;
  line-height: 21px;
  color: #555;
}

h4 {
  font-size: 14px;
  line-height: 20px;
}

.errors {
  color: red;
  font-weight: bold;
  display: block;
  /* margin-left: 105px; */
}

a {
  text-decoration: underline;
  font-size: 12px;
}

a img {
  border: 0 none;
  vertical-align: middle;
}

tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #EFEFEF;
}

a:link {
  color: /* #7db223 */#005AAB;
}

a:hover {
  color: /* #456314 */#005AAB;
  text-decoration: underline;
}

a:active {
  color: /* #7db223 */#005AAB;
}

a:visited {
  color: /* #7db223 */#005AAB;
}

li {
  padding-top: 5px;
  text-align: left;
}

ul li {
  margin: 0 0 0.25em 0;
  padding: 0;
}

/* table elements */

table {
  background: #EEEEEE;
  margin: 2px 0 0 0;
  border: 1px solid #BBBBBB;
  border-collapse: collapse;
  width: 100%
}

table table {
  margin: -5px 0;
  border: 0px solid #e0e7d3;
  width: 100%;
}

table td, table th {
  padding: 2px;
  border: 1px solid #CCCCCC;
}

table td form {
  text-align: center;
  vertical-align: middle;
  margin: 0px;
}

table th {
  font-size: 0.9em;
  text-align: left;
  font-weight: bold;
  color: #FFF;
  background: #999;
}

table thead {
  font-weight: bold;
  font-style: italic;
  background-color: #BBBBBB;
}

table a:link {
  color: #303030;
}

.utilbox {
  width: 18px;
}

caption {
  caption-side: top;
  width: auto;
  text-align: left;
  font-size: 12px;
  color: #848f73;
  padding-bottom: 4px;
}

fieldset {
  background: #e0e7d3;
  padding: 8px;
  padding-bottom: 22px;
  border: none;
  width: 560px;
}

fieldset label {
  width: 70px;
  float: left;
  margin-top: 1.7em;
  margin-left: 20px;
}

fieldset textfield {
  margin: 3px;
  height: 20px;
  background: #e0e7d3;
}

fieldset textarea {
  margin: 3px;
  height: 165px;
  background: #e0e7d3;
}

fieldset input {
  margin: 3px;
  height: 20px;
  background: #e0e7d3;
}

fieldset table {
  width: 100%;
}

fieldset th {
  padding-left: 25px;
}

.table-buttons {
  background-color: #fff;
  border: none;
}

.table-buttons td {
  border: none;
}

.submit input {
  /*border: 1px solid #BBBBBB;*/
  color: #777777;
  padding: 2px 7px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  height: 24px;
}

.updated {
  background: #ecf1e5;
  font-size: 11px;
  margin-left: 2px;
  border: 4px solid #ecf1e5;
}

.updated td {
  padding: 2px 8px;
  font-size: 11px;
  color: #888888;
}

.dijitArrowButton {
  height: 20px;
}

.dijitTextArea {
  min-height: 5.5em !important;
  max-height: 22em !important;
  overflow-y: auto !important;
  max-width: 175px;
}

.RichTextEditable {
  min-height: 18em !important;
  max-height: 18em !important;
}

.flag {
  height: 11px;
  width: 16px;
}