<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
     xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page"
     version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  <form:create id="fc_com_transretail_crm_entity_CustomerModel" modelAttribute="customerModel" path="/customermodels"
               render="${empty dependencies}" z="+SVqNZrMaYQK5H/ip8H8xy+OtSw=">
    <field:input field="accountId" id="c_com_transretail_crm_entity_CustomerModel_accountnumber" required="true"/>
    <field:input field="parent" id="c_com_transretail_crm_entity_CustomerModel_parent" required="true"/>
    <field:input field="firstName" id="c_com_transretail_crm_entity_CustomerModel_firstName" required="true"
                 z="X42EwHBat1G4108VPnihS7cOckQ="/>
    <field:input field="middleName" id="c_com_transretail_crm_entity_CustomerModel_middleName"
                 z="nYnQKwvBATbI7SosiGGngZUP3WI="/>
    <field:input field="lastName" id="c_com_transretail_crm_entity_CustomerModel_lastName" required="true"
                 z="Bidv4CnfuJplKdcf6XKkx8q4rEU="/>
    <field:input field="gender" id="c_com_transretail_crm_entity_CustomerModel_gender"
                 z="wDIfNH+Voxdq+wB9RqjPRfTC5nM="/>
    <field:datetime dateTimePattern="${customerModel_birthdate_date_format}" field="birthdate"
                    id="c_com_transretail_crm_entity_CustomerModel_birthdate" past="true"
                    z="hoQB1AilTtRHPmfLgF1Wf4WoZnk="/>
    <field:input field="email" id="c_com_transretail_crm_entity_CustomerModel_email"
                 validationMessageCode="field_invalid_email"
                 validationRegex="^([0-9a-zA-Z]([-.\\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\\w]*[0-9a-zA-Z]\\.)+[a-zA-Z]{2,9})"
                 z="ULop/F5xVfqwDfKl1ElAkm9t5os="/>
    <field:input field="username" id="c_com_transretail_crm_entity_CustomerModel_username" z="UvYkaBmQkObs5Lg2AsdZy08CBHs="/>
    <field:input field="password" id="c_com_transretail_crm_entity_CustomerModel_password" z="znpI45nZgvZ0MIS3+IpuBXAfV/0="/>
    <field:checkbox field="enabled" id="c_com_transretail_crm_entity_CustomerModel_enabled"
                    z="mPzY1oooV7lKqhyxKgByX8Wr5xM="/>
  </form:create>
  <form:dependency dependencies="${dependencies}" id="d_com_transretail_crm_entity_CustomerModel"
                   render="${not empty dependencies}" z="CclDJ5uMzvYpF183DxbYG6ynNOg="/>
</div>
