.buttonRed {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
	padding: 5px 20px !important;
  margin: 2px 10px !important;
	
	width: auto !important;
  height: auto !important;
  
	font-size: 12px !important;
	font-weight: bold !important;
	background: #ec1f28;
	color: #FFFFFF !important;
	border-color: #AFAFAF #989898 #989898 #AFAFAF !important;
	border-width: thin !important;
	cursor: pointer;
	width: 60px;
	text-transform: uppercase;
	
	background: -moz-linear-gradient(top, #ec1f28 0%, #931416 50%, #ec1f28 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec1f28), color-stop(50%, #931416), color-stop(100%, #ec1f28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ec1f28 0%, #931416 50%, #ec1f28 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ec1f28 0%, #931416 50%, #ec1f28 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ec1f28 0%, #931416 50%, #ec1f28 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ec1f28 0%, #931416 50%, #ec1f28 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ec1f28', endColorstr='#ec1f28', GradientType=0); /* IE6-9 */
}

.buttonRed:hover {
  text-shadow: 1px 1px 3px #fff !important;
}

.contentButton {
	display: inline-block;
	padding: 1px !important;
	margin: 2px !important;
}

input {
    /* border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important; */
}