/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
    {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background: none repeat scroll 0 center #FEFEFE;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 1;
    margin: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,th,td {
    font-weight: normal;
    text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
}

/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

a:focus {
    -moz-outline-style:none;
}

br.both {
    clear: both;
}


/*CRM Style Definitions*/
body {
    background: #000;
    padding-top: 0px !important;
    margin: 0px !important;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatClear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    border: none;
}

#wrapper {
    min-width: 800px !important;
	background: #FFFFFF !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#wrapperBody {
    /*border-top: solid 5px #FCFCFC;*/
}

#header {
    /* background: #FCFCFC; */
    padding-left: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /* -webkit-box-shadow: 0 2px 6px -6px #000000;
    -moz-box-shadow: 0 2px 6px -6px #000000;
    box-shadow: 0 2px 6px -6px #000000; */
    margin-bottom: 0px !important;
}

.contentLink {
	margin-bottom: 10px;
}

.link01 {
	color: #005AAB !important;
	font-size: 1em;
	font-weight: 800;
  text-decoration: underline;
  margin-right: 20px;
}

.link01:hover {
  color: #005AAB !important;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.link02 {
  color: #005AAB !important;
}

.link02:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;

}

.link03 {
  color: #005AAB !important;
  margin-right: 10px;
}

.link03:hover {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;

}

.ruleDivider {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 0px;
  border-top: solid 1px #CCC;
  border-bottom: solid 2px #FFF;
}

.ruleDivider_1 {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 0px;
  border-top: solid 1px #CCC;
  border-bottom: solid 2px #FFF;
}

.contentSelect {
}

.contentHidden {
	display: none;
}

.labelInput01 {
	margin-top: -3px;
	display: inline-block;
}


#contentSelectRole {
	margin-top: 15px;
}

#subheader {
	padding: 0px 5px;
  margin-top: 3px;
}

#subheader .contentUser {
	text-transform: capitalize !important;
}

#subheader a, #subheader span {
	color: #BBB !important;
	font-size: 10px;
	text-transform: capitalize;
}

#subheader .contentDivider01 {
	margin-left: 10px;
	padding-left: 10px;
	border-left: solid thin #AAA;
}

.tooltip {
    display:none;
}

#footer {
	position: relative;
	top: -10px;
	right: 10px;
	width: 600px;
	border: none;
	text-align: right;
	float: right;
}

.dijitTooltipContainer {
	background: none !important;
	margin-left: 3px;
	font-size: 9px;
}

a.clickable {
  text-decoration: none;
  color: blue;
}

a.clickable div {
  color: blue;
}
.contentBlock_1 {
	margin-top: 25px;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.contentCheckbox {
	
}

.contentCheckbox label {
	font-weight: normal;
  width: 250px;
}



.targetTable th {
	padding-bottom: 5px !important;
	padding-top: 5px !important;
}

th.targetSquare, td.targetSquare {
	width: 20px;
}

.targetCheckbox {
	margin: 0px !important;
	height: 15px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.contentFormTable input {
	width: 80px;
}

.content_formSegment {
	margin-bottom: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #EEE;
}

.content_formSegment select {
	width: 100px;
}

.content_sublist01 {
	padding-left: 20px;
}

.content_sublist02 {
  padding-left: 40px;
}



