@CHARSET "UTF-8";
/*SEARCHBOX: */

/*FORM: SEARCHBOX*/
.contentSearchBox {
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  text-align: center;
  margin-bottom: 20px;
  padding: 10px;

  position: relative;
}

.contentSearchBox form {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle;
}

.contentSearchBox input {
  width: 130px;
}

.contentSearchBox .contentLabel {
  font-weight: bold;
  font-size: 10px;
  color: #333333;
}

.contentSearchBox .contentLabel_1 {
  font-size: 9px;
  color: #888888;
  text-transform: capitalize;
  margin-bottom: 1px;
  font-weight: normal;
}

.contentSearchBox .contentHeader {
  margin-bottom: 15px;
}

.contentSearchBox .contentMain {
  display: block;
  margin-top: -10px;
}

.contentSearchBox .contentInputBlock {
  margin: 5px;
}

.contentSearchBox .contentButtonBlock {
  margin-top: 15px;
}

.contentSearchBox .contentLabelBlock {
  margin-top: 20px;
}

.control-group {
  margin-bottom: 4px;
}

.control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

#error,
.error {
  color: red;
}

#errorMessages,
.errorMessages {
  margin-bottom: 4px;
}

.errorblock {
  color: #000;
  background-color: #ffEEEE;
  border: 3px solid #ff0000;
  padding: 8px;
  margin: 16px;
}

.required {
  color: red;
}



.contentLabel_2 {
  font-size: 13px;
  color: #555555;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: bold;
}

.contentLabel_3 {
  font-size: 9px;
  color: #888888;
  text-transform: capitalize;
  height: 10px;
  font-weight: normal;
}

.contentLabel_4 {
  font-size: 13px;
  color: #555555;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.formInputBlock01 label {
  float: left;
  width: 125px;
}

.formInputBlock01 input {
  float: left;
}