.wrapperMain {
    /* background: #FFFFFF; */
    /* border-top-left-radius: 5px; */
    border-radius: 3px;
    margin-top: 2em;
}

#main {
    /* border-top-right-radius: 3px; */
    border-radius: 3px;
    padding: 30px !important;
}

#main .dijitTitlePaneContentOuter  {
    border: none !important;
}

#main .dijitTitlePaneTitle {
    display: none;
}

#main .dijitTitlePaneContentInner table {    
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    border: solid 1px #A8A8A8 #EEEEEE #EEEEEE #A8A8A8;
}

#main .dijitTitlePaneContentInner table th {
    font-style: normal !important;
}

.contentTable {
    border-top: solid 1px #BABABA;
    border-left: solid 1px #BABABA;
    border-bottom: solid 1px #EEEEEE;
    border-right: solid 1px #EEEEEE;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tableData {
    border-top: solid 1px #BABABA;
    border-left: solid 1px #BABABA;
    border-bottom: solid 1px #EEEEEE;
    border-right: solid 1px #EEEEEE;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-collapse: collapse !important;
}

.tableData td {
	border: solid thin #AAA !important;
    border-collapse: collapse !important;
}


.tableData th {
	background: #005AAB !important;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 2px;
    -webkit-box-shadow: 1px 2px 8px -6px #000000;
    -moz-box-shadow: 1px 2px 8px -6px #000000;
    box-shadow: 1px 2px 8px -6px #000000;
}

.tableFooter {
	margin-top: 5px;
}

.contentDialogBody label, .contentLogin label {
  font-weight: bold; 
  color: #333; 
  padding-top: 5px;
}

.contentLogin {
  margin: 20px auto;
  width: 40%;
}

.contentLogin .loginButtons input {
  text-align: center;
  margin: auto 20px;
}

.contentLogin .loginMsg {
	margin-bottom: 10px;
	font-size: 11px;
}

.contentLabel {
	font-weight: 600;
	text-transform: capitalize;
	width: 100px;
}

.contentLabel_1 {
	text-transform: uppercase;
	margin-bottom: 3px;
	color: #000;
	font-weight: bold;;
}

.contentLabel_2 {
	text-transform: capitalize;
}

.contentData {
  float: left;
  text-transform: lowercase;
  text-transform: capitalize;
}

.contentWelcome {
	margin-bottom: 15px;
}
