#menu {
    /* border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; */
    /* background: #EFEFEF !important;
    padding: 10px 0px 10px 10px;
    margin-right: 5px !important; */
    /* -webkit-box-shadow: 4px 0 7px -6px #000000;
    -moz-box-shadow: 4px 0 7px -6px #000000;
    box-shadow: 4px 0 7px -6px #000000; */
    float: none !important;
    margin-right: 0px !important;
    width: 100%;
    background: none;
    margin-top: 10px;
}

#menu h2 {
    color: #005AAB !important;
    background: none !important;
    -webkit-box-shadow: 0 2px 6px -6px #000000;
    -moz-box-shadow: 0 2px 6px -6px #000000;
    box-shadow: 0 2px 6px -6px #000000;
    margin-bottom: 5px;
    cursor: pointer;
    cursor: hand;
    text-shadow: 1px 1px 0px #FFFFFF/* , 0px -1px 0px #000000 */;
    text-transform: none !important;
}

#menu a {
	display: block;
    font-size: 0.95em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #383838;
}

#menu a:hover {
    /* text-shadow: 1px 1px 2px #787878#AAA; */
    text-decoration: none;
}

#menu a:active {
    color: #181818 !important;
    text-shadow: 1px 1px 2px #989898;
}

#menu .wrapperMenu01 {
    margin-bottom: 15px;
}

/*contentMenuMain*/
.contentMenuMain {
    width: 700px !important;
    margin-top: 2px;
}

.contentMenuMain .contentMenuTabs li {
    float: left;
    margin-left: 5px;
    margin-bottom: 0px !important;
}

.contentMenuTabs {
	
}

/*contentMenuTabs*/
.contentMenuTabs a {
    padding: 10px 10px 5px !important;
    color: #FFF !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(0, 90, 171, 0.5);
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: bold;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: -1px !important;
}

.contentMenuTabs a:HOVER {
    color: #FFF !important;
    text-shadow: 0px 1px 1px #AAA;
}

.contentMenuTabs a.current {
    background: #005AAB;
    color: #FFF !important;
}

/*contentMenuPane*/
.contentMenuPane {
	padding-top: 2px;
	height: 33px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.contentMenuPane a.contentMenuCategory {
    padding: 10px 7px;
    font-size: 11px;
    color: #fff !important;
    text-transform: uppercase;
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    width: 180px;
}

.contentMenuPane  a.contentMenuCategory:HOVER {
    text-shadow: none !important;
}

.contentMenuPane .selectedtrue {
    background: #941903;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


/*tooltip*/
.contentMenuTooltip {
	display: none;
	width: 194px;
    background: #DDD !important;
    
    -webkit-box-shadow: 1px 0 8px -3px #000;
    -moz-box-shadow: 1px 0 8px -2px #000;
    box-shadow: 1px 0 8px -2px #000;
    
    text-transform: capitalize;
    
    border-top: 1px solid #EEE !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    
    text-shadow: none !important;
}

.contentMenuTooltip a:hover {
    -webkit-box-shadow: 0px -2px 5px -2px #FFF;
    -moz-box-shadow: 0px -2px 5px -2px #FFF;
    box-shadow: 0px -2px 5px -2px #FFF;
}

.bgGradient01 {
	color: #FFFFFF !important;
    background: -moz-linear-gradient(left, #005AAB 90%, #000E5F 99%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left, right, color-stop(90%,#005AAB) color-stop(99%,#000E5F)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #005AAB 90%, #000E5F 99%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #005AAB 90%,#000E5F 99%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #005AAB 90%,#000E5F 99%) !important; /* IE10+ */
    background: linear-gradient(to right, #005AAB 90%,#000E5F 99%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005AAB', endColorstr='#000E5F',GradientType=1 ) !important; /* IE6-9 */
    
    -webkit-box-shadow: 0px 4px 6px -3px #000;
    -moz-box-shadow: 0px 4px 6px -3px #000;
    box-shadow: 0px 4px 6px -3px #000;
    
    background: #666;
    
    text-shadow: 0px -1px 0px #333;
}