#backgroundPopup {
	background: none repeat scroll 0 0 #000000;
	border: 1px solid #CECECE;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#popupContact {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 2px solid #CECECE;
	display: none;
	font-size: 13px;
	height: 384px;
	padding: 12px;
	position: fixed;
	width: 408px;
	z-index: 2;
}

#popupContact h1 {
	border-bottom: 1px dotted #D3D3D3;
	color: #6FA5FD;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 2px;
	text-align: left;
}

#popupContactClose {
	color: #6FA5FD;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	position: absolute;
	right: 6px;
	top: 4px;
}

.wrapperMask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1317px;
	height: 647px;
	display: none;
	opacity: 0.5;
	z-index: 9998;
	background-color: #787878;
}

.contentDialog {
    border-radius: 5px;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
    
    -webkit-box-shadow: 1px 0 8px -2px #FFF;
    -moz-box-shadow: 1px 0 8px -2px #FFF;
    box-shadow: 1px 0 8px -2px #FFF;

    padding: 5px;
    height: auto;
    width: 650px !important; 
    
    /*background: #989898;
    background: rgba(98, 98, 98, 0.6);    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99989898,      endColorstr=#99989898);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99989898,     endColorstr=#99989898)";*/
    
}

.contentCalendarDialog  {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	-webkit-box-shadow: 1px 0 8px -2px #FFF;
	-moz-box-shadow: 1px 0 8px -2px #FFF;
	box-shadow: 1px 0 8px -2px #FFF;
	
	padding: 5px;
}

.contentDialogBody {
	padding: 15px;
	background: #F0F0F0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.contentDialogButtons {
	padding: 10px 20px;
	margin-top: 7px;
}

.formLabel01 {
	float: left;
	width: 125px;
}

.formInput01 {
	float: left;
}


.contentShow input.formInputText {
	border: none;
	background: none;
	display: none;
}

.contentShow .contentDialogButtons {
	display: none;
}

.contentShow .formInput01 div {
	display: inline;
}

.contentError {	
    padding-top: 5px; 
    padding-bottom: 10px;
    min-height: 20px;
    height:auto !important;
    height: 20px; 
}
	
.contentError div {
    font-size: 10px;
    color: #FF0000;
}

.contentInfo {
	margin-bottom: 15px;
	color: #333333;
	margin-right: 10px;
	font-weight: bold;
	font-size: 9px;
}

.contentInfo #contentInfoAccountId {
	font-weight: normal;
	margin-left: 20px;
	font-size: 12px;
}




