.input-space-01 { margin-right: 10px !important; margin-bottom: 10px !important; }
.el-block-01 { margin-top: 20px; }
.el-block-02 { margin-left: 0px !important; }
.el-width-01 {  width: 180px !important; }
.el-width-02 {  width: 330px !important; }
.el-width-03 {  width: 220px !important; }
.el-width-04 {  width: 140px !important; }
.el-width-05 {  width: 370px !important; }
.el-width-06 {  width: 300px !important; }
.el-width-07 {  width: 190px !important; }
.el-width-10 {  width: 80px !important; }
.el-width-11 {  width: 35px !important; }
.btn-space-01 { padding-top: 5px; padding-bottom: 5px; }
.btn-space-02 { margin-left: 10px; }
.checkbox-block-01 {}
.checkbox-block-01 label { display: inline !important; }
.checkbox-block-01 input { margin-top: -3px !important; }
.checkbox-block-02 {  display: inline !important; margin-right: 20px; }
.table-striped input {}
.contentError { margin-bottom: 25px; font-size: 12px; color: #FF0000; }
.data-content {	padding-bottom: 20px; }
.data-content-01 { text-align: left !important; }
.data-content-02 { margin-top: 20px; }
.data-content-03 { margin-bottom: 20px; }
.data-content-04 { padding-top: 5px; }
.data-content-05 { width: 50px; }
.data-sub-content { padding-bottom: 20px; overflow: auto; }
.data-list-content { padding-bottom: 20px; }
.block-stack-01 { margin-bottom: 50px; }
.block-stack-01 .block-stack-title { }
.block-stack-02 a { margin-bottom: 5px; }
.span6a { width: 550px !important; }
.span5a { width: 500px; }
.span4a { width: 400px; }
.span4b { width: 300px !important; }
.span-10a { margin-left: 15px; margin-right: 15px; }
.span-10b { text-align: left !important; margin-left:0px !important; }

.page-header3 { border-top: 1px solid #e5e5e5; margin: 20px 0 30px; padding-bottom: 9px; }
.page-header3 h4, .page-header2 h3 { color: #16aeec !important; }
.block-horizontal, .block-horizontal label, .block-horizontal select, .block-horizontal input { display: inline !important; }
table { clear: both; }

.bold { font-weight: bold; }
.normal { font-weight: normal !important; }
.control-data { margin-left: 20px !important; }
.control-data-01 { margin-left: 20px !important; position: relative; }
.control-data-02 { position: absolute; right: -150px; }
.control-checkbox { margin-top: -3px !important; }
/* .control-label-01 { text-align: left !important; text-transform: capitalize; width: 170px !important; } */
.control-label-02 { text-align: left !important; text-transform: capitalize; width: 200px !important; padding-left: 10px; }
.clear-margin-01 { margin-left: 0px !important; }
.dataTables_length { width: 50%; }
.form-reset { margin: 0px !important; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase !important; }

.search_submit {
	border: 1px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-top: 0px;
	margin-right: 0px;
}
.search_field { padding-bottom: 4px; }
.inline { display: inline !important; display: inline-block !important; }
/*.control-group-01 .control-label { width: 150px !important; } */
.control-group-01 .data-content-01 { width: 250px !important; }

.control-group-01 .control-group-small .control-label { width: 100px !important;}
.control-group-01 .control-group-small .controls { margin-left: 110px !important;}
.control-group-02 { width: 245px; margin-left: 15px; }
.control-group-02 legend { margin-bottom: 0px; }
.control-group-02 .well { background-color: rgba(245, 245, 245, 0); border: none; padding: 10px; }
.control-group-02 .well .control-label { margin-bottom: 20px; margin-right: 5px; }
.control-group-03 { width: 265px; margin-left: 15px; }
.pull-center { text-align: center !important; }
.form-actions { padding-left: 0px !important; }


select.input-medium { width: 165px; }
.block-search .control-label { width: auto !important; font-weight: bold; }

/* jqplot */

.jqplot-target {
    position: relative;
    color: #3D3D3D;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1em;
/*    height: 300px;
    width: 400px;*/
}
