<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form"
     xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  <page:list id="pl_com_transretail_crm_entity_UserRoleModel" items="${userrolemodels}"
             z="l58UN0uaY+tIW+6d8pXtcbGqBQM=">
    <table:table data="${userrolemodels}" id="l_com_transretail_crm_entity_UserRoleModel" path="/userrolemodels"
                 z="f0GXHXBXMsy0rAdt8/DdF6OyrHE=">
      <table:column id="c_com_transretail_crm_entity_UserRoleModel_code" property="code"
                    z="rOsAcjmrhO4TTPPiJk9Hz5jSwww="/>
      <table:column id="c_com_transretail_crm_entity_UserRoleModel_description" property="description"
                    z="cMMBq1BWvl7sy3/LOw5JUBveJMA="/>
      <table:column id="c_com_transretail_crm_entity_UserRoleModel_enabled" property="enabled"
                    z="NZsP0uvWhATmakfDn2L9KDOSjto="/>
    </table:table>
  </page:list>
</div>
