body {
	padding-top: 0px;
	padding-bottom: 40px;	
}

.body-container {
  max-width: 700px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  /*border: 1px solid #e5e5e5;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  position: relative;
  border: medium none;
  border-radius: 0 0 0 0;
  box-shadow: none;
}

.body-container p {
  margin-top: 10px;
}