/** reset styling **/
.firebugResetStyles {
		z-index: 2147483646 !important;
		top: 0 !important;
		left: 0 !important;
		display: block !important;
		border: 0 none !important;
		margin: 0 !important;
		padding: 0 !important;
		outline: 0 !important;
		min-width: 0 !important;
		max-width: none !important;
		min-height: 0 !important;
		max-height: none !important;
		position: fixed !important;
		transform: rotate(0deg) !important;
		transform-origin: 50% 50% !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		background: transparent none !important;
		pointer-events: none !important;
		white-space: normal !important;
}

.firebugBlockBackgroundColor {
  	background-color: transparent !important;
}

.firebugResetStyles:before, .firebugResetStyles:after {
  	content: "" !important;
}
/**actual styling to be modified by firebug theme**/
.firebugCanvas {
  	display: none !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBox {
  	width: auto !important;
  	position: static !important;
}

.firebugLayoutBoxOffset {
  	opacity: 0.8 !important;
  	position: fixed !important;
}

.firebugLayoutLine {
  	opacity: 0.4 !important;
  	background-color: #000000 !important;
}

.firebugLayoutLineLeft, .firebugLayoutLineRight {
  	width: 1px !important;
  	height: 100% !important;
}

.firebugLayoutLineTop, .firebugLayoutLineBottom {
  	width: 100% !important;
  	height: 1px !important;
}

.firebugLayoutLineTop {
	  margin-top: -1px !important;
	  border-top: 1px solid #999999 !important;
}

.firebugLayoutLineRight {
  	border-right: 1px solid #999999 !important;
}

.firebugLayoutLineBottom {
  	border-bottom: 1px solid #999999 !important;
}

.firebugLayoutLineLeft {
  	margin-left: -1px !important;
  	border-left: 1px solid #999999 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.firebugLayoutBoxParent {
	  border-top: 0 none !important;
	  border-right: 1px dashed #E00 !important;
	  border-bottom: 1px dashed #E00 !important;
	  border-left: 0 none !important;
	  position: fixed !important;
	  width: auto !important;
}

.firebugRuler{
  	position: absolute !important;
}

.firebugRulerH {
	  top: -15px !important;
	  left: 0 !important;
	  width: 100% !important;
	  height: 14px !important;
	  background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%13%88%00%00%00%0E%08%02%00%00%00L%25a%0A%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%F8IDATx%DA%EC%DD%D1n%E2%3A%00E%D1%80%F8%FF%EF%E2%AF2%95%D0D4%0E%C1%14%B0%8Fa-%E9%3E%CC%9C%87n%B9%81%A6W0%1C%A6i%9A%E7y%0As8%1CT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AATE9%FE%FCw%3E%9F%AF%2B%2F%BA%97%FDT%1D~K(%5C%9D%D5%EA%1B%5C%86%B5%A9%BDU%B5y%80%ED%AB*%03%FAV9%AB%E1%CEj%E7%82%EF%FB%18%BC%AEJ8%AB%FA'%D2%BEU9%D7U%ECc0%E1%A2r%5DynwVi%CFW%7F%BB%17%7Dy%EACU%CD%0E%F0%FA%3BX%FEbV%FEM%9B%2B%AD%BE%AA%E5%95v%AB%AA%E3E5%DCu%15rV9%07%B5%7F%B5w%FCm%BA%BE%AA%FBY%3D%14%F0%EE%C7%60%0EU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5JU%88%D3%F5%1F%AE%DF%3B%1B%F2%3E%DAUCNa%F92%D02%AC%7Dm%F9%3A%D4%F2%8B6%AE*%BF%5C%C2Ym~9g5%D0Y%95%17%7C%C8c%B0%7C%18%26%9CU%CD%13i%F7%AA%90%B3Z%7D%95%B4%C7%60%E6E%B5%BC%05%B4%FBY%95U%9E%DB%FD%1C%FC%E0%9F%83%7F%BE%17%7DkjMU%E3%03%AC%7CWj%DF%83%9An%BCG%AE%F1%95%96yQ%0Dq%5Dy%00%3Et%B5'%FC6%5DS%95pV%95%01%81%FF'%07%00%00%00%00%00%00%00%00%00%F8x%C7%F0%BE%9COp%5D%C9%7C%AD%E7%E6%EBV%FB%1E%E0(%07%E5%AC%C6%3A%ABi%9C%8F%C6%0E9%AB%C0'%D2%8E%9F%F99%D0E%B5%99%14%F5%0D%CD%7F%24%C6%DEH%B8%E9rV%DFs%DB%D0%F7%00k%FE%1D%84%84%83J%B8%E3%BA%FB%EF%20%84%1C%D7%AD%B0%8E%D7U%C8Y%05%1E%D4t%EF%AD%95Q%BF8w%BF%E9%0A%BF%EB%03%00%00%00%00%00%00%00%00%00%B8vJ%8E%BB%F5%B1u%8Cx%80%E1o%5E%CA9%AB%CB%CB%8E%03%DF%1D%B7T%25%9C%D5(%EFJM8%AB%CC'%D2%B2*%A4s%E7c6%FB%3E%FA%A2%1E%80~%0E%3E%DA%10x%5D%95Uig%15u%15%ED%7C%14%B6%87%A1%3B%FCo8%A8%D8o%D3%ADO%01%EDx%83%1A~%1B%9FpP%A3%DC%C6'%9C%95gK%00%00%00%00%00%00%00%00%00%20%D9%C9%11%D0%C0%40%AF%3F%EE%EE%92%94%D6%16X%B5%BCMH%15%2F%BF%D4%A7%C87%F1%8E%F2%81%AE%AAvzr%DA2%ABV%17%7C%E63%83%E7I%DC%C6%0Bs%1B%EF6%1E%00%00%00%00%00%00%00%00%00%80cr%9CW%FF%7F%C6%01%0E%F1%CE%A5%84%B3%CA%BC%E0%CB%AA%84%CE%F9%BF)%EC%13%08WU%AE%AB%B1%AE%2BO%EC%8E%CBYe%FE%8CN%ABr%5Dy%60~%CFA%0D%F4%AE%D4%BE%C75%CA%EDVB%EA(%B7%F1%09g%E5%D9%12%00%00%00%00%00%00%00%00%00H%F6%EB%13S%E7y%5E%5E%FB%98%F0%22%D1%B2'%A7%F0%92%B1%BC%24z3%AC%7Dm%60%D5%92%B4%7CEUO%5E%F0%AA*%3BU%B9%AE%3E%A0j%94%07%A0%C7%A0%AB%FD%B5%3F%A0%F7%03T%3Dy%D7%F7%D6%D4%C0%AAU%D2%E6%DFt%3F%A8%CC%AA%F2%86%B9%D7%F5%1F%18%E6%01%F8%CC%D5%9E%F0%F3z%88%AA%90%EF%20%00%00%00%00%00%00%00%00%00%C0%A6%D3%EA%CFi%AFb%2C%7BB%0A%2B%C3%1A%D7%06V%D5%07%A8r%5D%3D%D9%A6%CAu%F5%25%CF%A2%99%97zNX%60%95%AB%5DUZ%D5%FBR%03%AB%1C%D4k%9F%3F%BB%5C%FF%81a%AE%AB'%7F%F3%EA%FE%F3z%94%AA%D8%DF%5B%01%00%00%00%00%00%00%00%00%00%8E%FB%F3%F2%B1%1B%8DWU%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*UiU%C7%BBe%E7%F3%B9%CB%AAJ%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5J%95*U%AAT%A9R%A5*%AAj%FD%C6%D4%5Eo%90%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5%86%AF%1B%9F%98%DA%EBm%BBV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%ADV%AB%D5j%B5Z%AD%D6%E4%F58%01%00%00%00%00%00%00%00%00%00%00%00%00%00%40%85%7F%02%0C%008%C2%D0H%16j%8FX%00%00%00%00IEND%AEB%60%82") repeat-x !important;
	  border-top: 1px solid #BBBBBB !important;
	  border-right: 1px dashed #BBBBBB !important;
	  border-bottom: 1px solid #000000 !important;
}

.firebugRulerV {
	  top: 0 !important;
	  left: -15px !important;
	  width: 14px !important;
	  height: 100% !important;
	  background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%13%88%08%02%00%00%00%0E%F5%CB%10%00%00%00%04gAMA%00%00%D6%D8%D4OX2%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%06~IDATx%DA%EC%DD%D1v%A20%14%40Qt%F1%FF%FF%E4%97%D9%07%3BT%19%92%DC%40(%90%EEy%9A5%CB%B6%E8%F6%9Ac%A4%CC0%84%FF%DC%9E%CF%E7%E3%F1%88%DE4%F8%5D%C7%9F%2F%BA%DD%5E%7FI%7D%F18%DDn%BA%C5%FB%DF%97%BFk%F2%10%FF%FD%B4%F2M%A7%FB%FD%FD%B3%22%07p%8F%3F%AE%E3%F4S%8A%8F%40%EEq%9D%BE8D%F0%0EY%A1Uq%B7%EA%1F%81%88V%E8X%3F%B4%CEy%B7h%D1%A2E%EBohU%FC%D9%AF2fO%8BBeD%BE%F7X%0C%97%A4%D6b7%2Ck%A5%12%E3%9B%60v%B7r%C7%1AI%8C%BD%2B%23r%00c0%B2v%9B%AD%CA%26%0C%1Ek%05A%FD%93%D0%2B%A1u%8B%16-%95q%5Ce%DCSO%8E%E4M%23%8B%F7%C2%FE%40%BB%BD%8C%FC%8A%B5V%EBu%40%F9%3B%A72%FA%AE%8C%D4%01%CC%B5%DA%13%9CB%AB%E2I%18%24%B0n%A9%0CZ*Ce%9C%A22%8E%D8NJ%1E%EB%FF%8F%AE%CAP%19*%C3%BAEKe%AC%D1%AAX%8C*%DEH%8F%C5W%A1e%AD%D4%B7%5C%5B%19%C5%DB%0D%EF%9F%19%1D%7B%5E%86%BD%0C%95%A12%AC%5B*%83%96%CAP%19%F62T%86%CAP%19*%83%96%CA%B8Xe%BC%FE)T%19%A1%17xg%7F%DA%CBP%19*%C3%BA%A52T%86%CAP%19%F62T%86%CA%B0n%A9%0CZ%1DV%C6%3D%F3%FCH%DE%B4%B8~%7F%5CZc%F1%D6%1F%AF%84%F9%0F6%E6%EBVt9%0E~%BEr%AF%23%B0%97%A12T%86%CAP%19%B4T%86%CA%B8Re%D8%CBP%19*%C3%BA%A52huX%19%AE%CA%E5%BC%0C%7B%19*CeX%B7h%A9%0C%95%E1%BC%0C%7B%19*CeX%B7T%06%AD%CB%5E%95%2B%BF.%8F%C5%97%D5%E4%7B%EE%82%D6%FB%CF-%9C%FD%B9%CF%3By%7B%19%F62T%86%CA%B0n%D1R%19*%A3%D3%CA%B0%97%A12T%86uKe%D0%EA%B02*%3F1%99%5DB%2B%A4%B5%F8%3A%7C%BA%2B%8Co%7D%5C%EDe%A8%0C%95a%DDR%19%B4T%C66%82fA%B2%ED%DA%9FC%FC%17GZ%06%C9%E1%B3%E5%2C%1A%9FoiB%EB%96%CA%A0%D5qe4%7B%7D%FD%85%F7%5B%ED_%E0s%07%F0k%951%ECr%0D%B5C%D7-g%D1%A8%0C%EB%96%CA%A0%A52T%C6)*%C3%5E%86%CAP%19%D6-%95A%EB*%95q%F8%BB%E3%F9%AB%F6%E21%ACZ%B7%22%B7%9B%3F%02%85%CB%A2%5B%B7%BA%5E%B7%9C%97%E1%BC%0C%EB%16-%95%A12z%AC%0C%BFc%A22T%86uKe%D0%EA%B02V%DD%AD%8A%2B%8CWhe%5E%AF%CF%F5%3B%26%CE%CBh%5C%19%CE%CB%B0%F3%A4%095%A1%CAP%19*Ce%A8%0C%3BO*Ce%A8%0C%95%A12%3A%AD%8C%0A%82%7B%F0v%1F%2FD%A9%5B%9F%EE%EA%26%AF%03%CA%DF9%7B%19*Ce%A8%0C%95%A12T%86%CA%B8Ze%D8%CBP%19*Ce%A8%0C%95%D1ae%EC%F7%89I%E1%B4%D7M%D7P%8BjU%5C%BB%3E%F2%20%D8%CBP%19*Ce%A8%0C%95%A12T%C6%D5*%C3%5E%86%CAP%19*Ce%B4O%07%7B%F0W%7Bw%1C%7C%1A%8C%B3%3B%D1%EE%AA%5C%D6-%EBV%83%80%5E%D0%CA%10%5CU%2BD%E07YU%86%CAP%19*%E3%9A%95%91%D9%A0%C8%AD%5B%EDv%9E%82%FFKOee%E4%8FUe%A8%0C%95%A12T%C6%1F%A9%8C%C8%3D%5B%A5%15%FD%14%22r%E7B%9F%17l%F8%BF%ED%EAf%2B%7F%CF%ECe%D8%CBP%19*Ce%A8%0C%95%E1%93~%7B%19%F62T%86%CAP%19*Ce%A8%0C%E7%13%DA%CBP%19*Ce%A8%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4h%A9%0C%B3E%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%A9%0CZf%8B%16-Z%B4h%D1R%19f%8B%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1R%19%B4%CC%16-Z%B4h%D1%A2%A52%CC%16-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2%A52h%99-Z%B4h%D1%A2EKe%98-Z%B4h%D1%A2EKe%D02%5B%B4h%D1%A2EKe%D02%5B%B4h%D1%A2E%8B%96%CA0%5B%B4h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%96%CA%A0e%B6h%D1%A2E%8B%16-%95a%B6h%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-%95A%CBl%D1%A2E%8B%16-Z*%C3l%D1%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z*%83%96%D9%A2E%8B%16-Z%B4T%86%D9%A2E%8B%16-Z%B4T%06-%B3E%8B%16-Z%B4%AE%A4%F5%25%C0%00%DE%BF%5C'%0F%DA%B8q%00%00%00%00IEND%AEB%60%82") repeat-y !important;
	  border-left: 1px solid #BBBBBB !important;
	  border-right: 1px solid #000000 !important;
	  border-bottom: 1px dashed #BBBBBB !important;
}

.overflowRulerX > .firebugRulerV {
  	left: 0 !important;
}

.overflowRulerY > .firebugRulerH {
  	top: 0 !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.fbProxyElement {
	  position: fixed !important;
	  pointer-events: auto !important;
}


.capitalize {
  	text-transform: Capitalize;
}



body {
	  margin: 0;
		font-family: Arial,sans-serif;
	  font-size: 14px;
	  line-height: 20px;
	  color: #000;
	  background-color: #ffffff;
}

a {
  	color: #16aeec;
    -webkit-transition: all .45s ease;
       -moz-transition: all .45s ease;
        -ms-transition: all .45s ease;
         -o-transition: all .45s ease;
            transition: all .45s ease;
}

a:hover,
a:focus {
	  color: #2483cb;
	  text-decoration: none;
}

::selection{background:#d75959;color:#fff; text-shadow: none;}
::-moz-selection{background:#d75959;color:#fff; text-shadow: none;}

h2, h3, h4, h5, h6 {
	  font-family: 'Lato', sans-serif;
    font-weight: normal;
}

h1 {
		font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

h5 {
		color: #555;
		font-weight: normal;
}

.alert {
	  border: 1pt solid;
	  border-radius: 0px;
		margin-top: 20px;
}

.btn {
	  background-color: transparent;
		background-image: none;
		border: 1px solid #ccc;
	  border-radius: 2px;
	  box-shadow: none;
	  color: #333;
	  cursor: pointer;
	  display: inline-block;
	  font-size: 14px;
	  line-height: 24px;
	  margin-bottom: 0;
	  padding: 6px 18px;
	  text-align: center;
	  text-shadow: none;
	  vertical-align: middle;
		font-weight: normal;
}

.btn-small {
    font-size: 12px;
    padding: 2px 10px;
		font-weight: normal;
}

.btn:hover,
.btn:focus {
	  color: #000;
	  text-decoration: none;
	  background-position: 0 0;
	  -webkit-transition: background-position 0.1s linear;
	  -moz-transition: background-position 0.1s linear;
	  -o-transition: background-position 0.1s linear;
	  transition: background-position 0.1s linear;
	  background-color: transparent;
		border: 1px solid #bcbcbc;
		transition: none 0s ease 0s !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
	  background-color: #16aeec;
	  background-image: none;
	  background-repeat: repeat-x;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  color: #FFFFFF;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	  background-color: #14a6e2;
	  color: #FFFFFF;
}

.btn-large {
  font-size: 17.5px;
  padding: 11px 19px;
}

.btn-print {
	border: 1px solid #8eaa39;
	background: url("../images/icn-print.png") no-repeat #A1C042 scroll 18px center !important;
	width: auto;
	padding-left: 42px;
	color: #fff;
}

.btn-print:hover, .btn-print:focus, .btn-print:active, .btn-print.active, .btn-print.disabled, .btn-print[disabled] {
	border-color: #79922f;
	background-color: #94b13c;
	color: #fff;
}

.btn.disabled, .btn[disabled] {
    opacity: 0.3;
}

input.btn-print {
		height: auto;
		width: 104px;
}

input.btn-print.btn-print-small {
		width: auto;
}

.well .btn-print {
	border: none;
}

/*Navbar 2 */

.navbar-inverse .navbar-inner.navbar-inner2 {
 	background-color: #155bab;
	background-image: linear-gradient(to bottom, #014178, #024A88);
  	border: none;
  	box-shadow: none;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  	color: #ffffff;
  	background-color: #155bab;
}

.navbar-inverse .navbar-inner {
	background-color: #155bab;
	background-image: linear-gradient(to bottom, #014178, #024A88);
	filter: none;
}

.navbar-inner.navbar-inner2 .nav > li > a {
  text-shadow: none;
}

.navbar-inner.navbar-inner2 .nav > li > a:hover {
  color: #000;
}

.navbar-inner.navbar-inner2 .nav .active > a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #16aeec;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

/*Headers */

.navbar-inverse .btn-navbar {
    background-color: #16AEEC;
    background-image: linear-gradient(to bottom, #16B7F8, #14ACEA);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
  background-color: #023e72;
}

.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #fff;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    text-shadow: none;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    font-weight: normal;
}

.page-header2 {
    border-bottom: none;
    margin: 20px 0 30px;
    padding-bottom: 0;
}

.page-header2 h1{
	color: #16aeec;
}

.nav .nav2 {
  text-transform: uppercase;
}

.icon-english, .icon-bahasa {
  height: 16px;
  width: 24px;
  padding-right: 4px;
}

.icon-english {
  background: url("../images/flag-eng.png") no-repeat 0 0 !important;
}

.icon-bahasa {
  background: url("../images/flag-in.png") no-repeat 0 0 !important;
}

.dropdown.language li a:hover {
  background: none;
  color: #16aeec;
}

.dropdown-menu {
    min-width: 119px;
		border-radius: 2px;
}

li.icon-topbar > a {
    color: #4e4e4e;
}


/*Forms */

legend {
  color: #16aeec;
	border-color: #16aeec;
}

label {
  text-transform: uppercase;
}

.required {
  color: #FF0000;
  font-size: 18px;
  font-weight: normal;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0px;
  background-color: #eee;
  /*border: none;*/

}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #eee;
  /*border: none;*/
  box-shadow: none;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background: #f9f9f9;
  border-color: #f1f1f1;
  cursor: not-allowed;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  background-color: #f2f2f2;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	box-shadow: none;
	background-color: #eee;
  border: 1px solid #ccc;
}

.help-block {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 2px !important;
}

.form-actions {
    border-top: none;
}

.form-horizontal .control-label {
    margin-right: 20px;
}

/*Modals */

.modal {
	border-radius: 0px;
}

.modal.fade.in {
    top: 14%;
}

.modal-backdrop {
    background-color: #999999;
}


/*Tables */

.dataTables_wrapper > div:nth-child(3) {
	clear:both;
	overflow-x: scroll !important;
}

.dataTables_paginate, .dataTables_length {
	margin-top: 10px;
	line-height: 22px;
}

.dataTables_info {
	clear: both;
}

.dataTables_empty {
	height: 160px;
	background: #f1f1f1 !important;
	color: #666 !important;
	border: medium none !important;
	text-align: center !important;
	font-size: 18px;
	font-style: italic;
}

.sorting {
	cursor: pointer;
}

.sorting:hover, .sorting_desc:hover, .sorting_asc:hover {
	color: #005aa8;
}

.table {
	background-color: #FFFFFF;
	border: medium none;
	border-spacing: 0;
	margin: 10px 0 15px;
	text-align: left;
}	/*from .tablesorter-blue */

.table th {
    background-color: #16AEEC !important;
    font-weight: lighter;
		text-transform: uppercase;	
		padding: 10px 20px;
		color: #fff;
		font-size: 11px;
}

.sorting_asc, .sorting_desc {
    background-position: 10px 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
}

.sorting_desc {
	background-image: url("../images/icn-down-white.png");
}

.sorting_asc {
	background-image: url("../images/icn-up-white.png");
}

.table thead th {
    vertical-align: top;
}

.table tbody tr.odd td:first-child {
    /*background-color: #24A0D3;
    color: #FFFFFF;*/
}

.table tbody tr.odd td {
    /*background-color: #DFE1E3;*/
	border-bottom: 1px solid #CCCCCC;
}
.table tbody td, .table tfoot th, .table tfoot td {
    padding: 4px 20px;
}
.table td {
    background-color: #FFFFFF;
    color: #3D3D3D;
    padding: 4px;
    vertical-align: middle;
}
.table th, .table td {
    border: medium none;
}

.table tbody tr.even td:first-child {
    /*background-color: #2EA8D9;
    color: #FFFFFF;*/
}
.table tbody tr td:last-child {
	border-left: 1px solid #ccc;
	padding-top: 10px;
}
.table tbody tr.even td {
    /*background-color: #E8E8E8;*/
	border-bottom: 1px solid #CCCCCC;
}

.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 0px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}

.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-radius: 0px;
}

.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
    border-radius: 0px;
}

.tablesorter-blue tfoot .tablesorter-headerAsc, .tablesorter-blue tfoot .tablesorter-headerDesc{
	background-color: #fff;
}

/* hovered row colors
 you'll need to add additional lines for
 rows with more than 2 child rows
 */
.table tbody > tr:hover > td,
.table tbody > tr:hover + tr.tablesorter-childRow > td,
.table tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.table tbody > tr.even:hover > td,
.table tbody > tr.even:hover + tr.tablesorter-childRow > td,
.table tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #ffffd6;
	color: #000;
}
.table tbody > tr.odd:hover > td,
.table tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.table tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #ffffd6;
	color: #000;
}
.table tbody > tr:hover > td a,
.table tbody > tr:hover + tr.tablesorter-childRow > td a,
.table tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td a{
	color: #005aa8;
}

/*.table tbody > tr.odd:hover > td:first-child, 
.table tbody > tr.even:hover > td:first-child {
	background-color: #197195;*/

/*Login */

.login .btn.btn-primary {
    border-radius: 2px;
    font-size: 20px;
    height: 50px;
	padding: 0 110px;
}

.logo-login{
  margin: 50px 0 20px;
}

.login {
  background: url("../images/bg-login2.jpg") no-repeat center center fixed #f5f5f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-signin {
  border: medium none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  padding: 19px 29px 60px;
}

.form-signin p {
  margin-top: 10px;
}

h3.form-signin-heading  {
  color: #16aeec;
}

.well {
	background-color: #F1F1F1;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 20px;
	color: #999;
	width: auto;
}

.well:hover {
	background-color: #f6f6f6;
	color: #797878;
}

.well textarea, .well input[type="text"], .well input[type="password"], .well input[type="datetime"], .well input[type="datetime-local"], .well input[type="date"], .well input[type="month"], .well input[type="time"], .well input[type="week"], .well input[type="number"], .well input[type="email"], .well input[type="url"], .well input[type="search"], .well input[type="tel"], .well input[type="color"], .well .uneditable-input, .well select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e8e8e8;
}

.well-blue {
    background: none repeat scroll 0 0 #16AEEC;
    color: #FFFFFF !important;
}

.well-blue:hover {
    background: none repeat scroll 0 0 #14a6e2;
    color: #FFFFFF;
}

.well-blue label {
    color: #f1f1f1;
}

/*Main Menu Collapse */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #0080FF;
  background-color: transparent;
  background-image: none;
}

.dropdown-menu > li > a:hover i,
.dropdown-menu > li > a:focus i {
  background-image: url("../images/glyphicons-halflings.png") !important;
}

.navbar .nav {
    margin-top: 16px;
}

.language {
		margin-left: 10px;
}

.language-responsive .language {
	  border: medium none;
	  margin-bottom: 10px;
	  margin-left: 16px;
	  padding-left: 0;
		float: left;
}

ul.nav li.dropdown.language a.block-language {
    padding: 4px 10px;
		font-size: 12px;
}

ul.nav li.dropdown.language a {
    padding: 4px 10px;
		font-size: 12px;
}

.navbar .nav li a:hover {
		color: #0080ff;
}

ul.nav li.dropdown.language {
		/** background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
		margin-top: 3px; **/
		border-left: 1px solid #ccc;
}

.language .dropdown-menu {
		left: 37px;
}

.navbar .btn {
    margin-top: 0px;
}





.dropdown .dropdown-menu .nav-header {
    color: #A1C042;
}

.navbar-inner {
    background-image: none;
    background-repeat: repeat-x;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none !important;
    min-height: 60px;
}

.navbar-brand {
    margin-top: 10px;
}

.navbar-brand-mobile {
		margin-left: 10px;
}

.navbar .btn-navbar {
    padding: 18px;
}

.navbar .nav > li > a {
    padding-bottom: 0;
}

.navbar .nav > li > a:hover {

}

[class^="icon-menu-"], [class*="icon-menu-"] {
	background-repeat: no-repeat;
	width: 34px;
	height: 30px;
	font-size: 12px;
	margin-top: -10px;
}

.glyphicon-class {
	font-size: 14px;
	/** display: block; **/
}

.icon-menu-notifications {
	background: url("../images/icons-menu.png") no-repeat scroll 11px 0px !important;
	text-indent: -10px;
}

.icon-menu-home {
	background: url("../images/icons-menu.png") no-repeat scroll -45px -1px !important;
	text-indent: -13px;
}

.icon-menu-settings {
	background: url("../images/icons-menu.png") no-repeat scroll 1px 0px !important;
	text-indent: -10px;	
}

.icon-menu-messages {
	background: url("../images/icons-menu.png") no-repeat scroll -91px 0px !important;
	text-indent: -10px;	
}

.icon-menu-points {
	background: url("../images/icons-menu.png") no-repeat scroll -134px -1px !important;
	text-indent: -10px;
}

.icon-menu-prepaid {
	background: url("../images/icons-menu.png") no-repeat scroll -179px -1px !important;
	text-indent: -10px;
}

.icon-menu-user {
	background: url("../images/icons-menu.png") no-repeat scroll -223px -1px !important;
	text-indent: -10px;
}

.icon-menu-user2 {
	background: url("../images/icons-menu.png") no-repeat scroll -254px 2px !important;
	text-indent: -10px;
}

.navbar .nav li.dropdown.icon-topbar.open > .dropdown-toggle,
.navbar .nav li.dropdown.icon-topbar.active > .dropdown-toggle,
.navbar .nav li.dropdown.icon-topbar.open.active > .dropdown-toggle,
.navbar .nav li.dropdown.language.open > .dropdown-toggle,
.navbar .nav li.dropdown.language.active > .dropdown-toggle,
.navbar .nav li.dropdown.language.open.active > .dropdown-toggle {
  color: #555555;
  background-color: transparent;
}

.main-menu-dropdown > div {
  float: left;
  margin: 0 10px 5px 0;
}

.navbar .nav .icon-topbar .dropdown-toggle .caret {
	margin-left: 0px;
}

.btn-main-menu, .btn-main-menu.menu2 {
  width: 220px;
  height: 54px;
  background-color: #16AEEC;
  font-size: 12px;
  padding: 30px 0 0 10px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.btn-main-menu.menu2 {
  background-color: #fd6566;
  padding: 5px 0 0 10px;
  height: 84px;
  width: 180px;
  text-align: left !important;
}

.btn-main-menu.menu2 p {
  text-align: start !important;
}

.btn.btn-main-menu:hover,
.btn.btn-main-menu:focus {
  background-color: #2483cb;
}

.btn.btn-main-menu.menu2:hover,
.btn.btn-main-menu.menu2:focus {
  background-color: #fb4a4b;
}

.menu3dmega.skin-black a:hover{
  color:#fff;
}

.menu3dmega.skin-black .dropdown-menu {
  	border: none;
  	background: none;
  	background-color: #16AEEC;
}

.menu3dmega.skin-black > ul > li:hover {
	background-color: #16AEEC;
}

.menu3dmega .content {
  padding: 0 0 0px 10px;
}

.menu3dmega li .dropdown-menu {
  box-shadow: none;
}

.menu3dmega .full-width .dropdown-menu {
  width: 101%;
}

.menu3dmega.skin-black {
  	border: medium none;
	background-color: #155bab;
	background-image: linear-gradient(to bottom, #014178, #024A88);
}

.menu3dmega > ul > li > a, .menu3dmega > ul > li > span {
  /*color: #999 !important;*/
  font-weight: normal;
}

.menu3dmega.skin-black > ul > li {
  	border-left: none;
	border-right: none;
}

.menu3dmega.skin-black > ul > li.last {
  border: none;
}

.menu3dmega {
  box-shadow: none;
}

.navbar {
  min-height: 40px;
}

.menu3dmega > ul > li {
  line-height: 20px;
}

#menuMega .container {
  margin: 0 auto;
}

[class^="icn-"], [class*=" icn-"] {
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  margin-bottom: 5px
}

.icn-administrator {
  	background-image: url("../images/menu/icn-admin.png");
}

.icn-cs {
  	background-image: url("../images/menu/icn-cs.png");
}

.icn-hr {
  	background-image: url("../images/menu/icn-hr.png");
}

.icn-marketing {
  	background-image: url("../images/menu/icn-marketing.png");
}

.icn-merchant {
  	background-image: url("../images/menu/icn-merchant.png");
}

.icn-store {
  	background-image: url("../images/menu/icn-store.png");
}

.menu3dmega .dropdown-menu.minor-menu > ul > li > a {
  	padding: 3px 20px 0 5px;
  	color: #fff;
}

.main-role {
	text-transform: uppercase;
}

table {
  clear: both;
}

/*Action Icons */

.icn-delete, input.icn-delete, 
.icn-edit, input.icn-edit, 
.icn-view, input.icn-view, 
.icn-pin, 
.icn-card, 
.icn-supplement, 
.icn-print, 
.icn-recieve, input.icn-recieve, 
.icn-allocate, input.icn-allocate, 
.icn-approve, input.icn-approve, 
.icn-transfer, input.icn-transfer{
    background-color: #16AEEC !important;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: 29px;
    margin-right: 4px;
    opacity: 0.3;
    padding: 0;
    text-decoration: none;
    text-indent: -20000px;
    width: 32px;
		border: medium none;
}

.icn-delete, .icn-delete:hover, .icn-delete:focus, input.icn-delete, input.icn-delete:hover, input.icn-delete:focus,
.icn-edit, .icn-edit:hover, .icn-edit:focus, input.icn-edit, input.icn-edit:hover, input.icn-edit:focus, 
.icn-view, .icn-view:hover, .icn-view:focus, input.icn-view, input.icn-view:hover, input.icn-view:focus, 
.icn-pin, .icn-pin:hover, .icn-pin:focus, 
.icn-card, .icn-card:hover, .icn-card:focus, 
.icn-supplement, .icn-supplement:hover, .icn-supplement:focus,
.icn-print, .icn-print:hover, .icn-print:focus, input.icn-print, input.icn-print:hover, input.icn-print:focus,
.icn-recieve, .icn-recieve:hover, .icn-recieve:focus, input.icn-recieve, input.icn-recieve:hover, input.icn-recieve:focus,
.icn-allocate, .icn-allocate:hover, .icn-allocate:focus, input.icn-allocate, input.icn-allocate:hover, input.icn-allocate:focus,
.icn-approve, .icn-approve:hover, .icn-approve:focus, input.icn-approve, input.icn-approve:hover, input.icn-approve:focus,
.icn-transfer, .icn-transfer:hover, .icn-transfer:focus, input.icn-transfer, input.icn-transfer:focus{
    background: url("../images/icons-actions-default-inverse-2.png") #16AEEC no-repeat scroll;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: 29px;
    margin-right: 4px;
    opacity: 0.3;
    padding: 0;
    text-decoration: none;
    text-indent: -20000px;
    width: 32px;
		border: medium none;
}

.table tbody > tr.odd:hover > td .tiptip,
.table tbody > tr.odd:hover + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr.even:hover > td .tiptip,
.table tbody > tr.even:hover + tr.tablesorter-childRow > td .tiptip,
.table tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td .tiptip {
	opacity: 1;
}

.icn-delete, .icn-delete:hover, input.icn-delete, input.icn-delete:hover {
	background-position: -323px center;
}

.icn-edit, .icn-edit:hover {
	background-position: 8px center;
	border: medium none;
}

.icn-view, .icn-view:hover, input.icn-view, input.icn-view:hover {
	background-position: -295px center;
}

.icn-pin, .icn-pin:hover {
	background-position: -45px center;
}

.icn-card, .icn-card:hover {
	background-position: -98px center;
}

.icn-supplement, .icn-supplement:hover {
	background-position: -135px center;
}

.icn-print, .icn-print:hover, input.icn-print, input.icn-print:hover {
	background-position: -186px center;
}

.icn-recieve, .icn-recieve:hover, input.icn-recieve, input.icn-recieve:hover {
	background-position: -19px center;
}

.icn-allocate, .icn-allocate:hover, input.icn-allocate, input.icn-allocate:hover {
	background-position: -239px center;
}

.icn-approve, .icn-approve:hover, input.icn-approve, input.icn-approve:hover {
	background-position: -212px center;
	background-color: #b4d54e !important;
}

.icn-transfer, .icn-transfer:hover, input.icn-transfer, input.icn-transfer:hover {
	background-position: -266px center;
}

.modal-header {
    background: none;
    border-bottom: 1px solid #A1C042;
		color: #A1C042;
}

.modal-header h4{
    font-weight: lighter;
}

/* Tabs */
.nav-tabs > li > a {
    border-radius: 2px 2px 0 0;
		color: #999;
		font-size: 11px;
}

.nav-tabs > li > a:hover {
		color: #16AEEC;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #EB434A;
    color: #FFFFFF;
}

.nav-pills > li > a {
    border-radius: 0px;
}

/*Forms */

.bootstrap-input, .input-like-container {
    border-bottom: none;
}

/* Helpers */
.ml10 {margin-left: 10px !important;}
.ml20 {margin-left: 20px !important;}
.mb0 {margin-bottom: 0px !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 2.5641% !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mt0 {margin-top: 0px !important}
.mt10 {margin-top: 10px}
.pb20 {padding-bottom: 20px}
.case-lower {text-transform: lowercase !important;}
.case-cap {text-transform: capitalize !important;}
.line-no-top{border-top: none;}
.top-zero {margin-top: 0; padding-top: 0}
.left-zero {margin-left: 0; padding-left: 0}

/* New adds */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    max-width: 960px;
}

/* Font Awesome Icons */

.tile-stats .num, .tile-stats h3, .tile-stats p {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
}

.tile-stats .num {
    font-size: 38px;
    font-weight: bold;
		padding: 10px 0;
		z-index: 2;
		width: 70%;
}

.tile-stats h3 {
    font-size: 18px;
    margin-top: 5px;
		margin-bottom: -10px;
}

.tile-stats p {
    font-size: 11px;
    margin-top: 5px;
}

.tile-stats {
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tile-stats .icon {
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
		-ms-transform: rotate(7deg); /* IE 9 */
		    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
		    transform: rotate(7deg);
}

.tile-stats .icon {
    bottom: 14px;
}

.tile-stats .icon i {
    font-size: 100px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
.tile-stats .icon i:before {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.tile-stats .icon {
    color: rgba(0, 0, 0, 0.1);
}

.tile-stats .btn {
		z-index: 3;
}
