/* dd --------------------- */
.dd-select {
  border-radius: 4px;
  border: solid 1px #ccc;
  position: relative;
  cursor: pointer;
  background: none !important;
}

.dd-desc {
  color: #aaa;
  display: block;
  overflow: hidden;
  font-weight: normal;
  line-height: 1.4em;
}

.dd-selected {
  overflow: hidden;
  display: block;
  font-weight: normal !important;
}

.dd-selected label {
  font-weight: normal !important;
}

.dd-pointer {
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
}

.dd-pointer-down {
  border: solid 5px transparent;
  border-top: solid 5px #000;
}

.dd-option-color {
  height: 20px;
  width: 50px;
  display: block;
  float: right
}

.dd-selected-color {
  height: 20px;
  width: 50px;
  display: block;
  float: right;
  margin-right: 20px
}

.dd-pointer-up {
  border: solid 5px transparent !important;
  border-bottom: solid 5px #000 !important;
  margin-top: -8px;
}

.dd-options {
  border: solid 1px #ccc;
  border-top: none;
  list-style: none;
  box-shadow: 0px 1px 5px #ddd;
  display: none;
  position: absolute;
  z-index: 2000;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: auto;
}

.dd-option {
  padding: 10px 32px 10px 12px;
  display: block;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
}

.dd-options > li:last-child > .dd-option {
  border-bottom: none;
}

.dd-option:hover {
  background: #f3f3f3;
  color: #000;
}

.dd-selected-description-truncated {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dd-option-selected {
  background: #f6f6f6;
}

.dd-option-image, .dd-selected-image {
  vertical-align: middle;
  float: left;
  margin-right: 5px;
  max-width: 64px;
}

.dd-image-right {
  float: right;
  margin-right: 15px;
  margin-left: 5px;
}

.dd-container {
  position: relative;
}

​ .dd-selected-text {
  font-weight: bold
}


/* main-carousel-home --------------------- */
.main-carousel-home .carousel>.carousel-inner>.item>.circleElement {
background-color: #000;
border-radius: 50%;
position: absolute;
top: 11%;
left: 39%;
width: 400px;
height: 400px;
opacity: .5;
}
.main-carousel-home .carousel-indicators {
  bottom: 0;
  margin-right: -19px;
  right: 50%;
  top: auto;
}
.main-carousel-home .carousel-indicators li { cursor: pointer }
.main-carousel-home .carousel-control {
width: 60px;
height: 0;
margin-top: -20px;
font-size: 100px;
background: none;
border: none;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
}
.main-carousel-home .carousel-indicators li {
background-color: #999;
background-color: rgba(255,255,255,0.3);
}
.main-carousel-home .carousel-indicators .active {
background: #fff;
}
.main-carousel-home .carousel-caption {
padding: 35px;
text-align: center;
}
.main-carousel-home .carousel-caption h4 {
font-family: "lato";
font-weight: 100;
font-size: 61px;
}
.main-carousel-home .carousel-caption p {
font-family: "lato";
margin-top: 39px;
font-size: 22px;
margin-bottom: -8px;
font-weight: 300;
line-height: 30px;
}
.main-carousel-home .carousel-fade .carousel-inner .item {
opacity: 0;
-webkit-transition-property: opacity;
-moz-transition-property: opacity;
-o-transition-property: opacity;
transition-property: opacity;
}
.main-carousel-home .carousel-fade .carousel-inner .active { opacity: 1 }
.main-carousel-home .carousel-fade .carousel-inner .active.left,
.main-carousel-home .carousel-fade .carousel-inner .active.right {
left: 0;
opacity: 0;
z-index: 1;
}
.main-carousel-home .carousel-fade .carousel-inner .next.left,
.main-carousel-home .carousel-fade .carousel-inner .prev.right { opacity: 1 }
.main-carousel-home .carousel-fade .carousel-control { z-index: 2 }
@media only screen and (max-width:767px) { 
.main-carousel-home h1 { font-size: 30px !important }
.main-carousel-home .carousel-caption {
    padding: 15px;
    text-align: center;
}
.main-carousel-home .carousel-caption h4 { font-size: 30px }
.main-carousel-home .carousel-caption p {
    margin-top: 10px;
    font-size: 10px;
    margin-bottom: -10px;
}
body { padding: 0 !important }
.main-carousel-home .carousel { margin-bottom: 0 }
.main-carousel-home .hero-unit { padding-bottom: 60px }
.main-carousel-home .hero-unit p { font-size: 16px }
}
.main-carousel-home .carousel-container {
margin-top: 35px;
margin-left: 30px;
}

/* product-slider --------------------- */
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.product-slider .carousel {
margin-bottom: 0;
padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly 
.product-slider .carousel-control.left {
left: -12px;
}
.product-slider .carousel-control.right {
right: -12px;
}*/
/* Changes the position of the indicators */
.product-slider .carousel-indicators {
right: 50%;
top: auto;
bottom: 0px;
margin-right: -19px;
}
/* Changes the colour of the indicators */
.product-slider .carousel-indicators li {
background: #c0c0c0;
}
.product-slider .carousel-indicators .active {
background: #333333;
}

/* extras --------------------- */
.product-label {
	list-style: none;
	text-align: center;
	margin: 10px 0 10px 0px;
}

.modal.fade {
    top: -40%;
}

.product-price-orig {
	text-decoration: line-through;
}

.product-price-reduced {
	color: red;
}

/* bunda news --------------------- */
.box-s1 {
		border: 1px solid #E6E6E6;
		border-radius: 8px;
}

.box-s1-title-1 {
		margin-left: 76px;
    margin-top: -18px;
    color: #16AEEC;
		font-size: 21px;
}

.box-s1-title-2 {
		color: #666666;
		font-size: 21px;
		margin-left: 10px;
		margin-top: 20px;
}

.box-s1-content {
		color: #666;
		font-size: 12px;
		padding: 10px;
		text-align: justify;
}

.signup-label {
	color: #666666;
	font-size: 21px;
	width: 316px;
	line-height: 30px;
	text-transform: none;
	float: left;
}

.signup-input {
	width:50%;
	margin-right: 5px;
}

@media (min-width: 768px) and (max-width: 979px) {
	.span7 {
	    width: 538px;
	}
	.signup-input {
	    width: 44%;
	}
	.signup-label {
	    font-size: 18px;
	    line-height: 30px;
	    width: 272px;
	}
	.box-s1-title-2, .box-s1-title-1 {
	    font-size: 18px;
	}
}