/*CUSTOMER MODEL PAGES STYLE DEFINITIONS*/

/*OVERLAY TABS*/
.contentModelTab {
	
}

.contentModelTab .contentTab li a {
	float: left;
	display: block;
	margin-left: 3px;
	margin-right: 3px;
	padding: 5px;
	padding-right: 15px;
	padding-left: 10px;
	border-right: solid 1px #FFFFFF;
	border-top: solid 2px #FFFFFF;
	border-top-right-radius: 5px;
	border-top-left-radius: 3px;
	text-decoration: none;
	color: 
}

.contentModelTab .contentTab li.ui-state-active a {
	background: none !important;
}

.contentModelTab .contentTab li.ui-state-default a {
	background: #CCCCCC;
}

.contentModelTab .contentTabPanes {
    min-height: 250px;  
    height: auto !important;  
    height: 250px;
    border-top: solid 2px #FFFFFF;
    padding-top; 10px;
    
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.contentModelTab .contentTabPane .contentLeft {
	float: left;
	width: 290px;
}

.contentModelTab .contentTabPane .contentLeft_1 {
	width: auto !important;
}

.contentModelTab .contentTabPane .contentRight {
	float: right;
	width: 320px;
}

.contentModelTab .contentTabPane .contentLeft label, 
.contentModelTab .contentTabPane .contentRight label {
	font-size: 9px;
}

.contentModelTab .contentTabPane .contentLeft div, 
.contentModelTab .contentTabPane .contentRight div {
	margin-bottom: 2px;
}

#contentCustomerInfo a {
	width: 200px;
}

#contentCompanyName {
	height: 30px;
}

/* #contentCompanyName div input {
	width: 500px;
} */

.contentRequired {
	color: #cc0000;
}

.contentBlock {
	margin-top: 7px;
	margin-bottom: 7px;
}

#contentBirthdate input {
	margin: 0 0.1em;
	height: 20px;
}



